In [8]:
# Import dependencies

import pandas as pd
import psycopg2
import numpy as np
import json
from sqlalchemy import create_engine
from config import my_password
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [20]:
# Read dog adoptions DataFrame from PostgreSQL
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
dog_adoptions = pd.read_sql("select * from \"dog_adoptions\"", con=engine)
dog_adoptions = dog_adoptions.drop('index', 1).set_index('id')
dog_adoptions.head()

C:\Users\m212193\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """

,organization_id,url,type,species,age,gender,size,coat,tags,name,...,contact.phone,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,primary_photo_cropped
id,,,,,,,,,,,,,,,,,,,,,
55441061,wi482,https://www.petfinder.com/dog/max-55441061/wi/...,Dog,Dog,Adult,Male,Small,None,[],Max,...,None,None,None,Beaver Dam,WI,53916,US,55441061,dog,None
55436505,wi533,https://www.petfinder.com/dog/miles-55436505/w...,Dog,Dog,Senior,Male,Small,None,[],Miles,...,None,None,None,New London,WI,54961,US,55436505,dog,None
55433679,al278,https://www.petfinder.com/dog/dorothy-55433679...,Dog,Dog,Adult,Female,Medium,None,[],Dorothy,...,None,None,None,Ripon,WI,54971,US,55433679,dog,None
55429606,wi523,https://www.petfinder.com/dog/kondor-55429606/...,Dog,Dog,Young,Male,Large,Short,"[""Friendly"", ""Affectionate"", ""Loyal"", ""Playful...",Kondor,...,None,None,None,Alma,WI,54610,US,55429606,dog,None
55429346,wi523,https://www.petfinder.com/dog/aspen-55429346/w...,Dog,Dog,Baby,Female,Medium,Short,"[""Friendly"", ""Affectionate"", ""Smart""]",Aspen,...,None,None,None,Alma,WI,54610,US,55429346,dog,None

In [21]:
# See NaN values

dog_adoptions.isna().sum(axis=0)

organization_id                      0
url                                  0
type                                 0
species                              0
age                                  0
gender                               0
size                                 0
coat                             34336
tags                                 0
name                                36
description                      10873
organization_animal_id          121427
photos                               0
videos                               0
status                               0
status_changed_at                    0
published_at                         0
distance                             0
breeds.primary                       0
breeds.secondary                104435
breeds.mixed                         0
breeds.unknown                       0
colors.primary                   40411
colors.secondary                 96040
colors.tertiary                 144960
attributes.spayed_neutered           0
attributes.house_trained             0
attributes.declawed             150700
attributes.special_needs             0
attributes.shots_current             0
environment.children             74498
environment.dogs                 57387
environment.cats                 99465
primary_photo_cropped.small       2407
primary_photo_cropped.medium      2407
primary_photo_cropped.large       2407
primary_photo_cropped.full        2407
contact.email                     9208
contact.phone                    36544
contact.address.address1         55641
contact.address.address2        133956
contact.address.city                 0
contact.address.state                0
contact.address.postcode             0
contact.address.country              0
animal_id                            0
animal_type                          0
primary_photo_cropped           150700
dtype: int64

In [22]:
# Rename columns
clean_dog_adoptions = dog_adoptions.rename(columns={"breeds.primary":"breeds_primary", "breeds.secondary":"breeds_secondary", "breeds.mixed":"breeds_mixed", "breeds.unknown":"breeds_unknown", "colors.primary":"colors_primary", "colors.secondary":"colors_secondary", "colors.tertiary":"colors_tertiary", "attributes.spayed_neutered":"spayed_neutered", "attributes.house_trained":"house_trained", "attributes.declawed":"declawed", "attributes.special_needs":"special_needs", "attributes.shots_current":"shots_current", "environment.children":"environment_children", "environment.dogs":"environment_dogs", "environment.cats":"environment_cats",
                                                  "primary_photo_cropped.small":"photo_small", "primary_photo_cropped.medium":"photo_medium", "primary_photo_cropped.large":"photo_large", "primary_photo_cropped.full":"photo_full", "contact.email":"email", "contact.phone":"phone", "contact.address.address1": "address_1", "contact.address.address2":"address_2", "contact.address.city":"city", "contact.address.state":"state", "contact.address.postcode":"postcode", "contact.address.country":"country"})
clean_dog_adoptions.head()

,organization_id,url,type,species,age,gender,size,coat,tags,name,...,phone,address_1,address_2,city,state,postcode,country,animal_id,animal_type,primary_photo_cropped
id,,,,,,,,,,,,,,,,,,,,,
55441061,wi482,https://www.petfinder.com/dog/max-55441061/wi/...,Dog,Dog,Adult,Male,Small,None,[],Max,...,None,None,None,Beaver Dam,WI,53916,US,55441061,dog,None
55436505,wi533,https://www.petfinder.com/dog/miles-55436505/w...,Dog,Dog,Senior,Male,Small,None,[],Miles,...,None,None,None,New London,WI,54961,US,55436505,dog,None
55433679,al278,https://www.petfinder.com/dog/dorothy-55433679...,Dog,Dog,Adult,Female,Medium,None,[],Dorothy,...,None,None,None,Ripon,WI,54971,US,55433679,dog,None
55429606,wi523,https://www.petfinder.com/dog/kondor-55429606/...,Dog,Dog,Young,Male,Large,Short,"[""Friendly"", ""Affectionate"", ""Loyal"", ""Playful...",Kondor,...,None,None,None,Alma,WI,54610,US,55429606,dog,None
55429346,wi523,https://www.petfinder.com/dog/aspen-55429346/w...,Dog,Dog,Baby,Female,Medium,Short,"[""Friendly"", ""Affectionate"", ""Smart""]",Aspen,...,None,None,None,Alma,WI,54610,US,55429346,dog,None

In [23]:
# Create location column with City, State
clean_dog_adoptions['location'] = clean_dog_adoptions['city'] + ', ' + clean_dog_adoptions['state']
clean_dog_adoptions = clean_dog_adoptions.drop(['city', 'state'], axis=1)
clean_dog_adoptions.head()

,organization_id,url,type,species,age,gender,size,coat,tags,name,...,email,phone,address_1,address_2,postcode,country,animal_id,animal_type,primary_photo_cropped,location
id,,,,,,,,,,,,,,,,,,,,,
55441061,wi482,https://www.petfinder.com/dog/max-55441061/wi/...,Dog,Dog,Adult,Male,Small,None,[],Max,...,frostysapplications@gmail.com,None,None,None,53916,US,55441061,dog,None,"Beaver Dam, WI"
55436505,wi533,https://www.petfinder.com/dog/miles-55436505/w...,Dog,Dog,Senior,Male,Small,None,[],Miles,...,Ourpackadoptions@gmail.com,None,None,None,54961,US,55436505,dog,None,"New London, WI"
55433679,al278,https://www.petfinder.com/dog/dorothy-55433679...,Dog,Dog,Adult,Female,Medium,None,[],Dorothy,...,secondchancenorthpetfinder@gmail.com,None,None,None,54971,US,55433679,dog,None,"Ripon, WI"
55429606,wi523,https://www.petfinder.com/dog/kondor-55429606/...,Dog,Dog,Young,Male,Large,Short,"[""Friendly"", ""Affectionate"", ""Loyal"", ""Playful...",Kondor,...,applications@almatailsofhope.com,None,None,None,54610,US,55429606,dog,None,"Alma, WI"
55429346,wi523,https://www.petfinder.com/dog/aspen-55429346/w...,Dog,Dog,Baby,Female,Medium,Short,"[""Friendly"", ""Affectionate"", ""Smart""]",Aspen,...,applications@almatailsofhope.com,None,None,None,54610,US,55429346,dog,None,"Alma, WI"

In [24]:
# Read clean_dog_adoptions DataFrame into SQL
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
clean_dog_adoptions.to_sql(name='clean_dog_adoptions', con=engine, if_exists='replace')