In [10]:
# Import dependencies

import petpy as pt
import pandas as pd
import psycopg2
import json
from sqlalchemy import create_engine
from config import petfinder_api_key
from config import petfinder_secret
from config import my_password

In [42]:
# Initiate petpy
pf = pt.Petfinder(key=petfinder_api_key, secret=petfinder_secret)

In [3]:
# Make API call to obtain organizations within 500 miles of Wausau, WI. Distance encompases all of Wisconsin
organizations_list_raw = pf.organizations(results_per_page=100, pages=24, location=54401, distance=500, return_df=True)
organizations_list_raw

,id,name,email,phone,url,website,mission_statement,photos,distance,address.address1,...,hours.saturday,hours.sunday,adoption.policy,adoption.url,social_media.facebook,social_media.twitter,social_media.youtube,social_media.instagram,social_media.pinterest,organization_id
0,MO556,Montgomery City Animal Shelter/Project Preciou...,projectpreciouspaws@hotmail.com,1-573-310-4979,https://www.petfinder.com/member/us/mo/montgom...,None,None,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,681.5435,915 Benton Street,...,None,None,None,None,None,None,None,None,None,mo556
1,MN443,Kitten Care Group MN,kittencaregroupmn@gmail.com,None,https://www.petfinder.com/member/us/mn/kasota/...,None,None,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,344.9607,None,...,None,None,None,None,None,None,None,None,None,mn443
2,OH459,Second Chance Rescue,secchancerescue@aol.com,None,https://www.petfinder.com/member/us/oh/bellbro...,None,Second Chance Rescue is a non-profit organizat...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,750.9111,None,...,None,None,Adopting A Friend:\r\n\r\nIf you see an animal...,None,http://www.facebook.com/secondchancerescuedayton,None,https://www.youtube.com/watch?v=ybN50aRZjq0,None,None,oh459
3,MO30,Second Chance Sheltie Rescue,sheltierescue@sheltie4me.com,888 873 5443,https://www.petfinder.com/member/us/mo/marylan...,None,None,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,696.9796,P. O. Box 1791,...,None,None,None,None,None,None,None,None,None,mo30
4,MI51,SOS Animal Rescue,info@sosar.org,(989) 492-0042,https://www.petfinder.com/member/us/mi/midland...,http://www.sosanimalrescue.org,To reduce the number of unwanted pets in the M...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,457.4366,PO Box 1135,...,None,None,None,None,None,None,None,None,None,mi51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,MO730,People Helping Paws Dog Rescue,dogs@peoplehelpingpaws.org,(573) 222-0115,https://www.petfinder.com/member/us/mo/jeffers...,http://www.phpdr.org,Our mission is to reduce the number of dogs ne...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,746.8638,None,...,None,None,"Our adoption fee is $225 ages 0-2 yrs, $200 fo...",https://phpdr.org/,http://www.facebook.com/peoplehelpingpawsdogre...,https://twitter.com/DogPhp,None,https://www.instagram.com/peoplehelpingpawsdog...,None,mo730
2396,IL406,Chicago Cat Rescue,info@chicagocatrescue.org,(773) 203-0215,https://www.petfinder.com/member/us/il/chicago...,http://www.chicagocatrescue.org,Chicago Cat Rescue is dedicated to the rescue ...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,377.3185,None,...,None,None,Chicago Cat Rescue is a foster based organizat...,None,https://www.facebook.com/chicagocatrescue/,https://twitter.com/ChiCatRescue,None,https://www.instagram.com/chicagocatrescue/,None,il406
2397,KY539,Adoption First Animal Rescue - Kentucky,ashley@adoptionfirstanimalrescue.com,None,https://www.petfinder.com/member/us/ky/covingt...,https://www.adoptionfirstanimalrescueky.com,Our mission is to lower euthanasia rates in Ke...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,784.2952,None,...,None,None,Complete Application: You must complete the a...,https://forms.clickup.com/f/387cv-11/FJ27F4GG8...,https://www.facebook.com/adoptionfirstky/,None,None,None,None,ky539
2398,MN454,Twin Pines Veterinary Clinic,TwinPinesPaws@gmail.com,None,https://www.petfinder.com/member/us/mn/askov/t...,http://www.TwinPinesVet.com,Twin Pines Veterinary Clinic has been going st...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,275.5233,3460 W Brogade,...,None,None,None,None,None,None,None,None,None,mn454
2399,IN325,Last Chance Rescue Inc.,lastchancerescuecb@gmail.com,(219) 677-2961,https://www.petfinder.com/member/us/in/scherer...,https://www.lcrescue.org,Our goal is to match our loving animals with e...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,428.1481,None,...,None,None,"If you would are interested in adopting, pleas...",None,https://www.facebook.com/LCRescue,None,None,None,None,in325

In [4]:
organizations_list_raw.dtypes

id                         object
name                       object
email                      object
phone                      object
url                        object
website                    object
mission_statement          object
photos                     object
distance                  float64
address.address1           object
address.address2           object
address.city               object
address.state              object
address.postcode           object
address.country            object
hours.monday               object
hours.tuesday              object
hours.wednesday            object
hours.thursday             object
hours.friday               object
hours.saturday             object
hours.sunday               object
adoption.policy            object
adoption.url               object
social_media.facebook      object
social_media.twitter       object
social_media.youtube       object
social_media.instagram     object
social_media.pinterest     object
organization_id            object
dtype: object

In [5]:
# Rename columns
organizations_list = organizations_list_raw.rename(columns ={'id':'organization_id', 'name':'organization_name', 'email':'organization_email', 'email':'organization_email', 'phone':'organization_phone', 'address.address1':'address_1', 'address.address2':'address_2', 
                                        'address.city':'address_city', 'address.state':'address_state', 'address.postcode':'address_postcode', 'address.country':'address_country', 
                                        'hours.monday':'hours_monday', 'hours.tuesday':'hours_tuesday', 'hours.wednesday':'hours_wednesday', 
                                        'hours.thursday':'hours_thursday', 'hours.friday':'hours_friday', 'hours.saturday':'hours_saturday', 
                                        'hours.sunday':'hours_sunday', 'adoption.policy':'adoption_policy', 'adoption.url':'adoption_url', 
                                        'social_media.facebook':'sm_facebook', 'social_media.twitter':'sm_twitter', 'social_media.youtube':'sm_youtube',
                                        'social_media.instagram':'sm_instagram', 'social_media.pinterest':'sm_pinterest', 'organization_id':'organization_id2'})
organizations_list.head()

,organization_id,organization_name,organization_email,organization_phone,url,website,mission_statement,photos,distance,address_1,...,hours_saturday,hours_sunday,adoption_policy,adoption_url,sm_facebook,sm_twitter,sm_youtube,sm_instagram,sm_pinterest,organization_id2
0,MO556,Montgomery City Animal Shelter/Project Preciou...,projectpreciouspaws@hotmail.com,1-573-310-4979,https://www.petfinder.com/member/us/mo/montgom...,None,None,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,681.5435,915 Benton Street,...,None,None,None,None,None,None,None,None,None,mo556
1,MN443,Kitten Care Group MN,kittencaregroupmn@gmail.com,None,https://www.petfinder.com/member/us/mn/kasota/...,None,None,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,344.9607,None,...,None,None,None,None,None,None,None,None,None,mn443
2,OH459,Second Chance Rescue,secchancerescue@aol.com,None,https://www.petfinder.com/member/us/oh/bellbro...,None,Second Chance Rescue is a non-profit organizat...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,750.9111,None,...,None,None,Adopting A Friend:\r\n\r\nIf you see an animal...,None,http://www.facebook.com/secondchancerescuedayton,None,https://www.youtube.com/watch?v=ybN50aRZjq0,None,None,oh459
3,MO30,Second Chance Sheltie Rescue,sheltierescue@sheltie4me.com,888 873 5443,https://www.petfinder.com/member/us/mo/marylan...,None,None,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,696.9796,P. O. Box 1791,...,None,None,None,None,None,None,None,None,None,mo30
4,MI51,SOS Animal Rescue,info@sosar.org,(989) 492-0042,https://www.petfinder.com/member/us/mi/midland...,http://www.sosanimalrescue.org,To reduce the number of unwanted pets in the M...,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,457.4366,PO Box 1135,...,None,None,None,None,None,None,None,None,None,mi51

In [14]:
# Convert 'photos' column from dictionary.
organizations_list['photos'] = list(map(lambda x: json.dumps(x), organizations_list['photos']))
organizations_list.head()

,organization_id,organization_name,organization_email,organization_phone,url,website,mission_statement,photos,distance,address_1,...,hours_saturday,hours_sunday,adoption_policy,adoption_url,sm_facebook,sm_twitter,sm_youtube,sm_instagram,sm_pinterest,organization_id2
0,MO556,Montgomery City Animal Shelter/Project Preciou...,projectpreciouspaws@hotmail.com,1-573-310-4979,https://www.petfinder.com/member/us/mo/montgom...,None,None,"""\""[{\\\""small\\\"": \\\""https://dl5zpyw5k3jeb....",681.5435,915 Benton Street,...,None,None,None,None,None,None,None,None,None,mo556
1,MN443,Kitten Care Group MN,kittencaregroupmn@gmail.com,None,https://www.petfinder.com/member/us/mn/kasota/...,None,None,"""\""[{\\\""small\\\"": \\\""https://dl5zpyw5k3jeb....",344.9607,None,...,None,None,None,None,None,None,None,None,None,mn443
2,OH459,Second Chance Rescue,secchancerescue@aol.com,None,https://www.petfinder.com/member/us/oh/bellbro...,None,Second Chance Rescue is a non-profit organizat...,"""\""[{\\\""small\\\"": \\\""https://dl5zpyw5k3jeb....",750.9111,None,...,None,None,Adopting A Friend:\r\n\r\nIf you see an animal...,None,http://www.facebook.com/secondchancerescuedayton,None,https://www.youtube.com/watch?v=ybN50aRZjq0,None,None,oh459
3,MO30,Second Chance Sheltie Rescue,sheltierescue@sheltie4me.com,888 873 5443,https://www.petfinder.com/member/us/mo/marylan...,None,None,"""\""[{\\\""small\\\"": \\\""https://dl5zpyw5k3jeb....",696.9796,P. O. Box 1791,...,None,None,None,None,None,None,None,None,None,mo30
4,MI51,SOS Animal Rescue,info@sosar.org,(989) 492-0042,https://www.petfinder.com/member/us/mi/midland...,http://www.sosanimalrescue.org,To reduce the number of unwanted pets in the M...,"""\""[{\\\""small\\\"": \\\""https://dl5zpyw5k3jeb....",457.4366,PO Box 1135,...,None,None,None,None,None,None,None,None,None,mi51

In [12]:
# Read DataFrame into PostgreSQL and as a csv file
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
organizations_list.to_sql(name='organizations', con=engine, if_exists='replace')
organizations_list.to_csv('Resources/organizations_list.csv', index=False)

In [15]:
# Make API call to obtain Wisconsin pet adoptions
### UPDATE TO MAXIMIZE SAMPLE SIZE
dogs_list_wisconsin = pf.animals(animal_type='dog', status='adopted', location='WI', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2016-05-01', return_df=True)
dogs_list_wisconsin

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 232 was returned

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,organization_id,primary_photo_cropped
0,55441061,WI482,https://www.petfinder.com/dog/max-55441061/wi/...,Dog,Dog,Adult,Male,Small,None,[],...,None,None,Beaver Dam,WI,53916,US,55441061,dog,wi482,NaN
1,55436505,WI533,https://www.petfinder.com/dog/miles-55436505/w...,Dog,Dog,Senior,Male,Small,None,[],...,None,None,New London,WI,54961,US,55436505,dog,wi533,NaN
2,55433679,AL278,https://www.petfinder.com/dog/dorothy-55433679...,Dog,Dog,Adult,Female,Medium,None,[],...,None,None,Ripon,WI,54971,US,55433679,dog,al278,NaN
3,55429606,WI523,https://www.petfinder.com/dog/kondor-55429606/...,Dog,Dog,Young,Male,Large,Short,"[Friendly, Affectionate, Loyal, Playful, Smart...",...,None,None,Alma,WI,54610,US,55429606,dog,wi523,NaN
4,55429346,WI523,https://www.petfinder.com/dog/aspen-55429346/w...,Dog,Dog,Baby,Female,Medium,Short,"[Friendly, Affectionate, Smart]",...,None,None,Alma,WI,54610,US,55429346,dog,wi523,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23095,35075429,WI04,https://www.petfinder.com/dog/rolland-35075429...,Dog,Dog,Senior,Male,Large,Short,[],...,911 Critter Court,None,Onalaska,WI,54603,US,35075429,dog,wi04,NaN
23096,35075419,WI72,https://www.petfinder.com/dog/ceasar-35075419/...,Dog,Dog,Young,Male,Medium,Short,[],...,N115 Two Mile Road,None,Appleton,WI,54914,US,35075419,dog,wi72,NaN
23097,35075403,WI04,https://www.petfinder.com/dog/rain-35075403/wi...,Dog,Dog,Senior,Female,Large,Short,[],...,911 Critter Court,None,Onalaska,WI,54603,US,35075403,dog,wi04,NaN
23098,35075040,WI72,https://www.petfinder.com/dog/edna-35075040/wi...,Dog,Dog,Young,Female,Large,Short,[],...,N115 Two Mile Road,None,Appleton,WI,54914,US,35075040,dog,wi72,NaN
23099,35074667,WI46,https://www.petfinder.com/dog/tobias-35074667/...,Dog,Dog,Senior,Male,Medium,None,[],...,302 Brickyard Road,None,Menomonie,WI,54751,US,35074667,dog,wi46,NaN

In [16]:
# Make API call to obtain Minnesota pet adoptions
dogs_list_minnesota = pf.animals(animal_type='dog', status='adopted', location='MN', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 168 was returned

In [17]:
# Make API call to obtain North Dakota pet adoptions
dogs_list_north_dakota = pf.animals(animal_type='dog', status='adopted', location='ND', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 14 was returned

In [85]:
# Make API call to obtain South Dakota pet adoptions
dogs_list_south_dakota = pf.animals(animal_type='dog', status='adopted', location='SD', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 3 was returned

In [19]:
# Make API call to obtain Nebraska pet adoptions
dogs_list_nebraska = pf.animals(animal_type='dog', status='adopted', location='NE', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 15 was returned

In [20]:
# Make API call to obtain Kansas pet adoptions
dogs_list_kansas = pf.animals(animal_type='dog', status='adopted', location='KS', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 33 was returned

In [21]:
# Make API call to obtain Iowa pet adoptions
dogs_list_iowa = pf.animals(animal_type='dog', status='adopted', location='IA', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 86 was returned

In [22]:
# Make API call to obtain Missouri pet adoptions
dogs_list_missouri = pf.animals(animal_type='dog', status='adopted', location='MO', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 117 was returned

In [43]:
# Make API call to obtain Illinois pet adoptions
dogs_list_illinois = pf.animals(animal_type='dog', status='adopted', location='IL', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 195 was returned

In [44]:
# Make API call to obtain Indiana pet adoptions
dogs_list_indiana = pf.animals(animal_type='dog', status='adopted', location='IN', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

In [45]:
# Make API call to obtain Michigan pet adoptions
dogs_list_michigan = pf.animals(animal_type='dog', status='adopted', location='MI', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 123 was returned

In [46]:
# Make API call to obtain Ohio pet adoptions
dogs_list_ohio = pf.animals(animal_type='dog', status='adopted', location='OH', results_per_page=100, pages=300, before_date='2022-05-01', after_date='2018-01-01', return_df=True)

In [87]:
# Combine all dog adoption DataFrames

frames = [dogs_list_wisconsin, dogs_list_minnesota, dogs_list_north_dakota, dogs_list_nebraska, dogs_list_kansas,
         dogs_list_iowa, dogs_list_missouri, dogs_list_illinois, dogs_list_indiana, dogs_list_michigan, dogs_list_ohio, dogs_list_south_dakota]
dog_adoptions = pd.concat(frames)
dog_adoptions

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,organization_id,primary_photo_cropped
0,55441061,WI482,https://www.petfinder.com/dog/max-55441061/wi/...,Dog,Dog,Adult,Male,Small,None,[],...,None,None,Beaver Dam,WI,53916,US,55441061,dog,wi482,NaN
1,55436505,WI533,https://www.petfinder.com/dog/miles-55436505/w...,Dog,Dog,Senior,Male,Small,None,[],...,None,None,New London,WI,54961,US,55436505,dog,wi533,NaN
2,55433679,AL278,https://www.petfinder.com/dog/dorothy-55433679...,Dog,Dog,Adult,Female,Medium,None,[],...,None,None,Ripon,WI,54971,US,55433679,dog,al278,NaN
3,55429606,WI523,https://www.petfinder.com/dog/kondor-55429606/...,Dog,Dog,Young,Male,Large,Short,"[Friendly, Affectionate, Loyal, Playful, Smart...",...,None,None,Alma,WI,54610,US,55429606,dog,wi523,NaN
4,55429346,WI523,https://www.petfinder.com/dog/aspen-55429346/w...,Dog,Dog,Baby,Female,Medium,Short,"[Friendly, Affectionate, Smart]",...,None,None,Alma,WI,54610,US,55429346,dog,wi523,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,44475473,OH483,https://www.petfinder.com/dog/prairie-44475473...,Dog,Dog,Young,Female,Medium,Short,[],...,825 Thornwood Dr,None,Heath,OH,43055,US,44475473,dog,oh483,NaN
29996,44475425,OH483,https://www.petfinder.com/dog/oakley-44475425/...,Dog,Dog,Young,Male,Large,Short,[],...,825 Thornwood Dr,None,Heath,OH,43055,US,44475425,dog,oh483,NaN
29997,44475325,OH483,https://www.petfinder.com/dog/princess-4447532...,Dog,Dog,Young,Female,Medium,Short,[],...,825 Thornwood Dr,None,Heath,OH,43055,US,44475325,dog,oh483,NaN
29998,44475196,OH483,https://www.petfinder.com/dog/ocean-44475196/o...,Dog,Dog,Young,Female,Medium,Short,[],...,825 Thornwood Dr,None,Heath,OH,43055,US,44475196,dog,oh483,NaN
29999,44475160,OH483,https://www.petfinder.com/dog/tundra-44475160/...,Dog,Dog,Young,Female,Medium,Short,[],...,825 Thornwood Dr,None,Heath,OH,43055,US,44475160,dog,oh483,NaN

In [89]:
# Get length of all_dogs DataFrame
len(dog_adoptions.index)

150700

In [99]:
# Convert 'tags', 'photos', and 'videos' columns from dictionary.
dog_adoptions['tags'] = list(map(lambda x: json.dumps(x), dog_adoptions['tags']))
dog_adoptions['photos'] = list(map(lambda x: json.dumps(x), dog_adoptions['photos']))
dog_adoptions['videos'] = list(map(lambda x: json.dumps(x), dog_adoptions['videos']))
dog_adoptions.head()

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,organization_id,primary_photo_cropped
0,55441061,WI482,https://www.petfinder.com/dog/max-55441061/wi/...,Dog,Dog,Adult,Male,Small,None,[],...,None,None,Beaver Dam,WI,53916,US,55441061,dog,wi482,NaN
1,55436505,WI533,https://www.petfinder.com/dog/miles-55436505/w...,Dog,Dog,Senior,Male,Small,None,[],...,None,None,New London,WI,54961,US,55436505,dog,wi533,NaN
2,55433679,AL278,https://www.petfinder.com/dog/dorothy-55433679...,Dog,Dog,Adult,Female,Medium,None,[],...,None,None,Ripon,WI,54971,US,55433679,dog,al278,NaN
3,55429606,WI523,https://www.petfinder.com/dog/kondor-55429606/...,Dog,Dog,Young,Male,Large,Short,"[""Friendly"", ""Affectionate"", ""Loyal"", ""Playful...",...,None,None,Alma,WI,54610,US,55429606,dog,wi523,NaN
4,55429346,WI523,https://www.petfinder.com/dog/aspen-55429346/w...,Dog,Dog,Baby,Female,Medium,Short,"[""Friendly"", ""Affectionate"", ""Smart""]",...,None,None,Alma,WI,54610,US,55429346,dog,wi523,NaN

In [100]:
# Read dog adoptions DataFrame into PostgreSQL and as a csv file
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
dog_adoptions.to_sql(name='dog_adoptions', con=engine, if_exists='replace')
dog_adoptions.to_csv('Resources/adoptions_list.csv', index=False)