In [3]:
# Import dependencies

import pandas as pd
import psycopg2
import json
from sqlalchemy import create_engine
from config import my_password

In [6]:
# Read dog adoptions DataFrame from PostgreSQL
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
dog_adoptions = pd.read_sql("select * from \"dog_adoptions\"", con=engine)
dog_adoptions.head()

,index,id,organization_id,url,type,species,age,gender,size,coat,...,contact.phone,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,primary_photo_cropped
0,0,55441061,wi482,https://www.petfinder.com/dog/max-55441061/wi/...,Dog,Dog,Adult,Male,Small,None,...,None,None,None,Beaver Dam,WI,53916,US,55441061,dog,None
1,1,55436505,wi533,https://www.petfinder.com/dog/miles-55436505/w...,Dog,Dog,Senior,Male,Small,None,...,None,None,None,New London,WI,54961,US,55436505,dog,None
2,2,55433679,al278,https://www.petfinder.com/dog/dorothy-55433679...,Dog,Dog,Adult,Female,Medium,None,...,None,None,None,Ripon,WI,54971,US,55433679,dog,None
3,3,55429606,wi523,https://www.petfinder.com/dog/kondor-55429606/...,Dog,Dog,Young,Male,Large,Short,...,None,None,None,Alma,WI,54610,US,55429606,dog,None
4,4,55429346,wi523,https://www.petfinder.com/dog/aspen-55429346/w...,Dog,Dog,Baby,Female,Medium,Short,...,None,None,None,Alma,WI,54610,US,55429346,dog,None

In [7]:
# Drop index column
dog_adoptions = dog_adoptions.drop('index', 1)
dog_adoptions.head()

C:\Users\m212193\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.phone,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,primary_photo_cropped
0,55441061,wi482,https://www.petfinder.com/dog/max-55441061/wi/...,Dog,Dog,Adult,Male,Small,None,[],...,None,None,None,Beaver Dam,WI,53916,US,55441061,dog,None
1,55436505,wi533,https://www.petfinder.com/dog/miles-55436505/w...,Dog,Dog,Senior,Male,Small,None,[],...,None,None,None,New London,WI,54961,US,55436505,dog,None
2,55433679,al278,https://www.petfinder.com/dog/dorothy-55433679...,Dog,Dog,Adult,Female,Medium,None,[],...,None,None,None,Ripon,WI,54971,US,55433679,dog,None
3,55429606,wi523,https://www.petfinder.com/dog/kondor-55429606/...,Dog,Dog,Young,Male,Large,Short,"[""Friendly"", ""Affectionate"", ""Loyal"", ""Playful...",...,None,None,None,Alma,WI,54610,US,55429606,dog,None
4,55429346,wi523,https://www.petfinder.com/dog/aspen-55429346/w...,Dog,Dog,Baby,Female,Medium,Short,"[""Friendly"", ""Affectionate"", ""Smart""]",...,None,None,None,Alma,WI,54610,US,55429346,dog,None

In [9]:
# Get length of all_dogs DataFrame

len(dog_adoptions.index)

150700

In [10]:
# Determine data types

dog_adoptions.dtypes

id                                int64
organization_id                  object
url                              object
type                             object
species                          object
age                              object
gender                           object
size                             object
coat                             object
tags                             object
name                             object
description                      object
organization_animal_id           object
photos                           object
videos                           object
status                           object
status_changed_at                object
published_at                     object
distance                        float64
breeds.primary                   object
breeds.secondary                 object
breeds.mixed                       bool
breeds.unknown                     bool
colors.primary                   object
colors.secondary                 object
colors.tertiary                  object
attributes.spayed_neutered         bool
attributes.house_trained           bool
attributes.declawed              object
attributes.special_needs           bool
attributes.shots_current           bool
environment.children             object
environment.dogs                 object
environment.cats                 object
primary_photo_cropped.small      object
primary_photo_cropped.medium     object
primary_photo_cropped.large      object
primary_photo_cropped.full       object
contact.email                    object
contact.phone                    object
contact.address.address1         object
contact.address.address2         object
contact.address.city             object
contact.address.state            object
contact.address.postcode         object
contact.address.country          object
animal_id                        object
animal_type                      object
primary_photo_cropped            object
dtype: object

In [11]:
# See NaN values

dog_adoptions.isna().sum(axis=0)

id                                   0
organization_id                      0
url                                  0
type                                 0
species                              0
age                                  0
gender                               0
size                                 0
coat                             34336
tags                                 0
name                                36
description                      10873
organization_animal_id          121427
photos                               0
videos                               0
status                               0
status_changed_at                    0
published_at                         0
distance                             0
breeds.primary                       0
breeds.secondary                104435
breeds.mixed                         0
breeds.unknown                       0
colors.primary                   40411
colors.secondary                 96040
colors.tertiary                 144960
attributes.spayed_neutered           0
attributes.house_trained             0
attributes.declawed             150700
attributes.special_needs             0
attributes.shots_current             0
environment.children             74498
environment.dogs                 57387
environment.cats                 99465
primary_photo_cropped.small       2407
primary_photo_cropped.medium      2407
primary_photo_cropped.large       2407
primary_photo_cropped.full        2407
contact.email                     9208
contact.phone                    36544
contact.address.address1         55641
contact.address.address2        133956
contact.address.city                 0
contact.address.state                0
contact.address.postcode             0
contact.address.country              0
animal_id                            0
animal_type                          0
primary_photo_cropped           150700
dtype: int64

In [12]:
# Create new dataframe with only the desired columns

clean_dogs = dog_adoptions[['id', 'organization_id', 'breeds.primary', 'breeds.mixed', 'age', 'gender', 'size', 'attributes.spayed_neutered', 'attributes.house_trained', 'attributes.special_needs', 'attributes.shots_current', 'status_changed_at', 'published_at',]].copy()
clean_dogs.head()

,id,organization_id,breeds.primary,breeds.mixed,age,gender,size,attributes.spayed_neutered,attributes.house_trained,attributes.special_needs,attributes.shots_current,status_changed_at,published_at
0,55441061,wi482,Beagle,True,Adult,Male,Small,True,True,False,True,2022-05-07T15:33:13+0000,2022-04-29T18:47:59+0000
1,55436505,wi533,Rat Terrier,True,Senior,Male,Small,True,False,False,True,2022-05-03T09:21:06+0000,2022-04-29T12:35:17+0000
2,55433679,al278,Mixed Breed,True,Adult,Female,Medium,True,True,False,True,2022-05-04T23:14:47+0000,2022-04-28T23:27:25+0000
3,55429606,wi523,Shepherd,True,Young,Male,Large,True,True,False,True,2022-04-30T16:50:03+0000,2022-04-28T18:07:08+0000
4,55429346,wi523,Terrier,True,Baby,Female,Medium,True,True,False,True,2022-04-30T22:48:39+0000,2022-04-28T17:48:45+0000

In [13]:
# Drop any rows with NaN values and confirm they have been dropped
clean_dogs.dropna(how='any')
clean_dogs.isna().sum(axis=0)

id                            0
organization_id               0
breeds.primary                0
breeds.mixed                  0
age                           0
gender                        0
size                          0
attributes.spayed_neutered    0
attributes.house_trained      0
attributes.special_needs      0
attributes.shots_current      0
status_changed_at             0
published_at                  0
dtype: int64

In [14]:
# Get length of clean_dogs DataFrame

len(clean_dogs.index)

150700

In [16]:
# Change status changed at (to adopted) and published at to datetime and subtract to calculate length of stay

clean_dogs[['status_changed_at', 'published_at']] = clean_dogs[['status_changed_at', 'published_at']].apply(pd.to_datetime)
clean_dogs['duration'] = (clean_dogs['status_changed_at'] - clean_dogs['published_at']).dt.days
clean_dogs.head()

,id,organization_id,breeds.primary,breeds.mixed,age,gender,size,attributes.spayed_neutered,attributes.house_trained,attributes.special_needs,attributes.shots_current,status_changed_at,published_at,duration
0,55441061,wi482,Beagle,True,Adult,Male,Small,True,True,False,True,2022-05-07 15:33:13+00:00,2022-04-29 18:47:59+00:00,7
1,55436505,wi533,Rat Terrier,True,Senior,Male,Small,True,False,False,True,2022-05-03 09:21:06+00:00,2022-04-29 12:35:17+00:00,3
2,55433679,al278,Mixed Breed,True,Adult,Female,Medium,True,True,False,True,2022-05-04 23:14:47+00:00,2022-04-28 23:27:25+00:00,5
3,55429606,wi523,Shepherd,True,Young,Male,Large,True,True,False,True,2022-04-30 16:50:03+00:00,2022-04-28 18:07:08+00:00,1
4,55429346,wi523,Terrier,True,Baby,Female,Medium,True,True,False,True,2022-04-30 22:48:39+00:00,2022-04-28 17:48:45+00:00,2

In [17]:
# Drop status_changed_at and published_at columns
clean_dogs = clean_dogs.drop(['status_changed_at', 'published_at'], axis=1)
clean_dogs.head()

,id,organization_id,breeds.primary,breeds.mixed,age,gender,size,attributes.spayed_neutered,attributes.house_trained,attributes.special_needs,attributes.shots_current,duration
0,55441061,wi482,Beagle,True,Adult,Male,Small,True,True,False,True,7
1,55436505,wi533,Rat Terrier,True,Senior,Male,Small,True,False,False,True,3
2,55433679,al278,Mixed Breed,True,Adult,Female,Medium,True,True,False,True,5
3,55429606,wi523,Shepherd,True,Young,Male,Large,True,True,False,True,1
4,55429346,wi523,Terrier,True,Baby,Female,Medium,True,True,False,True,2

In [18]:
# Drop all rows with a length of stay of 0

clean_dogs = clean_dogs[clean_dogs['duration'] > 0]
clean_dogs.head()

,id,organization_id,breeds.primary,breeds.mixed,age,gender,size,attributes.spayed_neutered,attributes.house_trained,attributes.special_needs,attributes.shots_current,duration
0,55441061,wi482,Beagle,True,Adult,Male,Small,True,True,False,True,7
1,55436505,wi533,Rat Terrier,True,Senior,Male,Small,True,False,False,True,3
2,55433679,al278,Mixed Breed,True,Adult,Female,Medium,True,True,False,True,5
3,55429606,wi523,Shepherd,True,Young,Male,Large,True,True,False,True,1
4,55429346,wi523,Terrier,True,Baby,Female,Medium,True,True,False,True,2

In [19]:
# Get length of clean_dogs DataFrame

len(clean_dogs.index)

140636

In [20]:
# Rename the columns
clean_dogs.columns = ['dog_id', 'organization_id', 'primary_breed', 'mixed_breed', 'age', 'gender', 'size', 'spayed_neutered', 'house_trained', 'special_needs', 'shots_current', 'duration']
clean_dogs.head()

,dog_id,organization_id,primary_breed,mixed_breed,age,gender,size,spayed_neutered,house_trained,special_needs,shots_current,duration
0,55441061,wi482,Beagle,True,Adult,Male,Small,True,True,False,True,7
1,55436505,wi533,Rat Terrier,True,Senior,Male,Small,True,False,False,True,3
2,55433679,al278,Mixed Breed,True,Adult,Female,Medium,True,True,False,True,5
3,55429606,wi523,Shepherd,True,Young,Male,Large,True,True,False,True,1
4,55429346,wi523,Terrier,True,Baby,Female,Medium,True,True,False,True,2

In [21]:
# Read clean dogs DataFrame into PostgreSQL and as a csv file
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
clean_dogs.to_sql(name='clean_dog_adoptions', con=engine, if_exists='replace')
clean_dogs.to_csv('Resources/adoptions_list.csv', index=False)

In [22]:
# Read organizations DataFrame from PostgreSQL
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
organizations = pd.read_sql("select * from \"organizations\"", con=engine)
organizations.head()

,index,organization_id,organization_name,organization_email,organization_phone,url,website,mission_statement,photos,distance,...,hours_saturday,hours_sunday,adoption_policy,adoption_url,sm_facebook,sm_twitter,sm_youtube,sm_instagram,sm_pinterest,organization_id2
0,0,MO556,Montgomery City Animal Shelter/Project Preciou...,projectpreciouspaws@hotmail.com,1-573-310-4979,https://www.petfinder.com/member/us/mo/montgom...,None,None,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",681.5435,...,None,None,None,None,None,None,None,None,None,mo556
1,1,MN443,Kitten Care Group MN,kittencaregroupmn@gmail.com,None,https://www.petfinder.com/member/us/mn/kasota/...,None,None,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",344.9607,...,None,None,None,None,None,None,None,None,None,mn443
2,2,OH459,Second Chance Rescue,secchancerescue@aol.com,None,https://www.petfinder.com/member/us/oh/bellbro...,None,Second Chance Rescue is a non-profit organizat...,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",750.9111,...,None,None,Adopting A Friend:\r\n\r\nIf you see an animal...,None,http://www.facebook.com/secondchancerescuedayton,None,https://www.youtube.com/watch?v=ybN50aRZjq0,None,None,oh459
3,3,MO30,Second Chance Sheltie Rescue,sheltierescue@sheltie4me.com,888 873 5443,https://www.petfinder.com/member/us/mo/marylan...,None,None,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",696.9796,...,None,None,None,None,None,None,None,None,None,mo30
4,4,MI51,SOS Animal Rescue,info@sosar.org,(989) 492-0042,https://www.petfinder.com/member/us/mi/midland...,http://www.sosanimalrescue.org,To reduce the number of unwanted pets in the M...,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",457.4366,...,None,None,None,None,None,None,None,None,None,mi51

In [25]:
# Drop index column
organizations = organizations.drop('index', 1)
organizations.head()

C:\Users\m212193\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,organization_id,organization_name,organization_email,organization_phone,url,website,mission_statement,photos,distance,address_1,...,hours_saturday,hours_sunday,adoption_policy,adoption_url,sm_facebook,sm_twitter,sm_youtube,sm_instagram,sm_pinterest,organization_id2
0,MO556,Montgomery City Animal Shelter/Project Preciou...,projectpreciouspaws@hotmail.com,1-573-310-4979,https://www.petfinder.com/member/us/mo/montgom...,None,None,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",681.5435,915 Benton Street,...,None,None,None,None,None,None,None,None,None,mo556
1,MN443,Kitten Care Group MN,kittencaregroupmn@gmail.com,None,https://www.petfinder.com/member/us/mn/kasota/...,None,None,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",344.9607,None,...,None,None,None,None,None,None,None,None,None,mn443
2,OH459,Second Chance Rescue,secchancerescue@aol.com,None,https://www.petfinder.com/member/us/oh/bellbro...,None,Second Chance Rescue is a non-profit organizat...,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",750.9111,None,...,None,None,Adopting A Friend:\r\n\r\nIf you see an animal...,None,http://www.facebook.com/secondchancerescuedayton,None,https://www.youtube.com/watch?v=ybN50aRZjq0,None,None,oh459
3,MO30,Second Chance Sheltie Rescue,sheltierescue@sheltie4me.com,888 873 5443,https://www.petfinder.com/member/us/mo/marylan...,None,None,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",696.9796,P. O. Box 1791,...,None,None,None,None,None,None,None,None,None,mo30
4,MI51,SOS Animal Rescue,info@sosar.org,(989) 492-0042,https://www.petfinder.com/member/us/mi/midland...,http://www.sosanimalrescue.org,To reduce the number of unwanted pets in the M...,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",457.4366,PO Box 1135,...,None,None,None,None,None,None,None,None,None,mi51

In [34]:
# Create new DataFrame with only organizations in Wisconsin

wisconsin_organizations = organizations[organizations['organization_id'].str.startswith('W')]
wisconsin_organizations

,organization_id,organization_name,organization_email,organization_phone,url,website,mission_statement,photos,distance,address_1,...,hours_saturday,hours_sunday,adoption_policy,adoption_url,sm_facebook,sm_twitter,sm_youtube,sm_instagram,sm_pinterest,organization_id2
9,WI291,Great Pyrenees Rescue of WI. Inc,wooflodge@yahoo.com,(920) 293-8885,https://www.petfinder.com/member/us/wi/neshkor...,http://www.greatpyrrescuewi.com,None,[],119.1883,None,...,None,None,None,None,None,None,None,None,None,wi291
20,WI535,Mecca's Pit Bull Rescue,meccaspitbullrescue@gmail.com,(920) 627-6727,https://www.petfinder.com/member/us/wi/sheboyg...,https://www.meccaspitbullrescue.com,Our mission is to rescue and assist Pit Bull- ...,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",208.1302,None,...,None,None,Mecca&#039;s Pit Bull Rescue requires for an a...,None,https://www.facebook.com/meccaspitbullrescue,None,None,None,None,wi535
26,WI517,"Passion for Paws, LLC",vetoffice@pawsmadison.com,(608) 826-3700,https://www.petfinder.com/member/us/wi/madison...,http://www.pfpvcmadison.com,To provide the best patient and client care wi...,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",215.9359,437 S. Junction Rd,...,None,None,None,None,http://www.facebook.com/paws53719,None,None,None,None,wi517
47,WI129,"Feathered Friends Sanctuary & Rescue, Inc.",birdlover7978@att.net,608-302-1732,https://www.petfinder.com/member/us/wi/edgerto...,None,None,[],243.7832,1570 County Rd A,...,None,None,None,None,None,None,None,None,None,wi129
52,WI392,American Brittany Rescue-WI/MN/SD/ND,abr.wi@americanbrittanyrescue.org,(866) 274-8911,https://www.petfinder.com/member/us/wi/manitow...,None,None,[],187.3634,2425 Stone Road,...,None,None,None,None,None,None,None,None,None,wi392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,WI507,Humane Society of Sheboygan County,adoptions@scadopt.org,(920) 458-2012,https://www.petfinder.com/member/us/wi/sheboyg...,https://adoptsheboygancounty.org/,"The prevention of cruelty to animals, \r\nthe ...","[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",205.0458,3209 N 21st Street,...,12:00pm - 4:00pm,12:00pm - 4:00pm,Search available pets at your local shelter - ...,https://adoptsheboygancounty.org/adopt/,None,None,None,None,None,wi507
2384,WI03,Rusk County Animal Shelter,ruskanimals@ruskcountywi.us,(715) 532-2637,https://www.petfinder.com/member/us/wi/ladysmi...,https://www.ruskanimals.com,None,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",121.7345,200 Doughty Rd,...,10 am to 2 pm every 1st and 3rd Saturday,None,None,None,https://www.facebook.com/profile.php?id=100064...,None,None,None,None,wi03
2390,WI164,RoseBerry Bird Rescue,RoseBerryBirdRescue@gmail.com,(920) 574-8305,https://www.petfinder.com/member/us/wi/neenah/...,http://www.roseberrybirdrescue.org,RoseBerry Bird Rescue is committed to enhancin...,[],131.2339,None,...,None,None,Please visit our website to learn more about o...,None,https://facebook.com/roseberry.birdrescue/,None,None,None,None,wi164
2391,WI136,Shih Tzu Rescue of Central WI,rlasings@aol.com,(715) 241-7328,https://www.petfinder.com/member/us/wi/schofie...,https://www.shihtzurescueofcentralwi.org,We are an all volunteer organization dedicated...,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",10.1428,None,...,None,None,Adoption applications are available on our web...,None,None,None,None,None,None,wi136
2393,WI426,Fisher Valley Felines Inc,fishervalleyfelines@charter.net,(608) 516-3034,https://www.petfinder.com/member/us/wi/fitchbu...,http://www.fishervalleyfelines.com,If you are looking for a cat or kitten or a PA...,"[{""small"": ""https://dl5zpyw5k3jeb.cloudfront.n...",219.4521,None,...,None,None,If you are interested in adopting......\n\n1. ...,http://www.fishervalleyfelines.com/docs/Online...,https://www.facebook.com/FisherValleyFelines/,None,None,None,None,wi426

In [39]:
# Remove unnecessary columns

wisconsin_organizations = wisconsin_organizations[['organization_id', 'organization_name', 'organization_email', 'organization_phone', 'url', 'website', 'address_1']].reset_index(drop=True)
wisconsin_organizations.head()

,organization_id,organization_name,organization_email,organization_phone,url,website,address_1
0,WI291,Great Pyrenees Rescue of WI. Inc,wooflodge@yahoo.com,(920) 293-8885,https://www.petfinder.com/member/us/wi/neshkor...,http://www.greatpyrrescuewi.com,None
1,WI535,Mecca's Pit Bull Rescue,meccaspitbullrescue@gmail.com,(920) 627-6727,https://www.petfinder.com/member/us/wi/sheboyg...,https://www.meccaspitbullrescue.com,None
2,WI517,"Passion for Paws, LLC",vetoffice@pawsmadison.com,(608) 826-3700,https://www.petfinder.com/member/us/wi/madison...,http://www.pfpvcmadison.com,437 S. Junction Rd
3,WI129,"Feathered Friends Sanctuary & Rescue, Inc.",birdlover7978@att.net,608-302-1732,https://www.petfinder.com/member/us/wi/edgerto...,None,1570 County Rd A
4,WI392,American Brittany Rescue-WI/MN/SD/ND,abr.wi@americanbrittanyrescue.org,(866) 274-8911,https://www.petfinder.com/member/us/wi/manitow...,None,2425 Stone Road

In [40]:
# Read Wisconsin organizations DataFrame into PostgreSQL and as a csv file
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
wisconsin_organizations.to_sql(name='wisconsin_organizations', con=engine, if_exists='replace')