In [193]:
# Import dependencies

import pandas as pd
import numpy as np
import tensorflow as tf
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sqlalchemy import create_engine
from config import my_password
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import petpy as pt
import geopy as gp
import pandas as pd
import gmaps
from config import petfinder_api_key
from config import petfinder_secret

In [194]:
# Prompt the user for dog input
age = str(input("What age dog are you interested in adopting (baby, young, adult, senior)?"))
gender = str(input("What gender dog are you intersted in adopting (male, female)?"))
location = str(input("What state are you located in (e.g. WI)?"))

What age dog are you interested in adopting (baby, young, adult, senior)?baby
What gender dog are you intersted in adopting (male, female)?female
What state are you located in (e.g. WI)?wi

In [195]:
# Initiate petpy
# pf = pt.Petfinder(key=petfinder_api_key, secret=petfinder_secret)
pf = pt.Petfinder(key=petfinder_api_key, secret=petfinder_secret)

In [196]:
# Make API call to obtain DataFrame of adoptable dogs in Wisconsin
adoptable_dogs = pf.animals(animal_type='dog', status='adoptable', age=age, gender=gender, location=location, results_per_page=100, pages=300, return_df=True)
adoptable_dogs.head()

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 1 was returned

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.phone,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,organization_id
0,55719417,WI04,https://www.petfinder.com/dog/lola-55719417/wi...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Affectionate, Playful, Smart, Curio...",...,608.781.4014,911 Critter Court,None,Onalaska,WI,54603,US,55719417,dog,wi04
1,55707966,WI07,https://www.petfinder.com/dog/bagel-55707966/w...,Dog,Dog,Baby,Female,Medium,None,[],...,(715) 861-5748,10501 Cty Hwy S South,PO Box 562,Chippewa Falls,WI,54729,US,55707966,dog,wi07
2,55707670,WI07,https://www.petfinder.com/dog/vega-55707670/wi...,Dog,Dog,Baby,Female,Medium,None,[],...,(715) 861-5748,10501 Cty Hwy S South,PO Box 562,Chippewa Falls,WI,54729,US,55707670,dog,wi07
3,55695702,WI34,https://www.petfinder.com/dog/ina-55695702/wi/...,Dog,Dog,Baby,Female,Medium,Short,[],...,(715) 743-4550,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55695702,dog,wi34
4,55694968,WI34,https://www.petfinder.com/dog/alex-55694968/wi...,Dog,Dog,Baby,Female,Medium,Short,[],...,(715) 743-4550,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694968,dog,wi34

In [197]:
# Rename columns
adoptable_dogs = adoptable_dogs.rename(columns={"breeds.primary":"breeds_primary", "breeds.secondary":"breeds_secondary", "breeds.mixed":"breeds_mixed", "breeds.unknown":"breeds_unknown", "colors.primary":"colors_primary", "colors.secondary":"colors_secondary", "colors.tertiary":"colors_tertiary", "attributes.spayed_neutered":"spayed_neutered", "attributes.house_trained":"house_trained", "attributes.declawed":"declawed", "attributes.special_needs":"special_needs", "attributes.shots_current":"shots_current", "environment.children":"environment_children", "environment.dogs":"environment_dogs", "environment.cats":"environment_cats",
                                                  "primary_photo_cropped.small":"photo_small", "primary_photo_cropped.medium":"photo_medium", "primary_photo_cropped.large":"photo_large", "primary_photo_cropped.full":"photo_full", "contact.email":"email", "contact.phone":"phone", "contact.address.address1": "address_1", "contact.address.address2":"address_2", "contact.address.city":"city", "contact.address.state":"state", "contact.address.postcode":"postcode", "contact.address.country":"country"})
adoptable_dogs.head()

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,phone,address_1,address_2,city,state,postcode,country,animal_id,animal_type,organization_id
0,55719417,WI04,https://www.petfinder.com/dog/lola-55719417/wi...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Affectionate, Playful, Smart, Curio...",...,608.781.4014,911 Critter Court,None,Onalaska,WI,54603,US,55719417,dog,wi04
1,55707966,WI07,https://www.petfinder.com/dog/bagel-55707966/w...,Dog,Dog,Baby,Female,Medium,None,[],...,(715) 861-5748,10501 Cty Hwy S South,PO Box 562,Chippewa Falls,WI,54729,US,55707966,dog,wi07
2,55707670,WI07,https://www.petfinder.com/dog/vega-55707670/wi...,Dog,Dog,Baby,Female,Medium,None,[],...,(715) 861-5748,10501 Cty Hwy S South,PO Box 562,Chippewa Falls,WI,54729,US,55707670,dog,wi07
3,55695702,WI34,https://www.petfinder.com/dog/ina-55695702/wi/...,Dog,Dog,Baby,Female,Medium,Short,[],...,(715) 743-4550,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55695702,dog,wi34
4,55694968,WI34,https://www.petfinder.com/dog/alex-55694968/wi...,Dog,Dog,Baby,Female,Medium,Short,[],...,(715) 743-4550,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694968,dog,wi34

In [198]:
testing_dogs=adoptable_dogs[['id', 'age', 'gender', 'size', 'breeds_primary', 'breeds_mixed', 'breeds_unknown', 'spayed_neutered', 'house_trained', 
                            'special_needs', 'shots_current', 'city', 'state']]
testing_dogs

,id,age,gender,size,breeds_primary,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,city,state
0,55719417,Baby,Female,Large,Hound,True,False,True,True,False,True,Onalaska,WI
1,55707966,Baby,Female,Medium,Terrier,True,False,False,False,False,True,Chippewa Falls,WI
2,55707670,Baby,Female,Medium,Labrador Retriever,True,False,False,False,False,True,Chippewa Falls,WI
3,55695702,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Neillsville,WI
4,55694968,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Neillsville,WI
5,55694921,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Neillsville,WI
6,55694898,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Neillsville,WI
7,55694401,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Neillsville,WI
8,55694395,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Neillsville,WI
9,55681043,Baby,Female,Medium,Terrier,True,False,False,False,False,True,Waunakee,WI
10,55678449,Baby,Female,Medium,Australian Shepherd,True,False,True,False,False,True,Rockland,WI
11,55664283,Baby,Female,Large,Husky,False,False,False,False,False,True,Viroqua,WI
12,55664281,Baby,Female,Large,Husky,False,False,False,False,False,True,Viroqua,WI
13,55664278,Baby,Female,Large,Anatolian Shepherd,True,False,False,False,False,True,Viroqua,WI
14,55663425,Baby,Female,Large,Australian Cattle Dog / Blue Heeler,True,False,True,True,False,True,Onalaska,WI
15,55663123,Baby,Female,Medium,German Shepherd Dog,False,False,False,False,False,False,Suamico,WI
16,55662357,Baby,Female,Small,Yellow Labrador Retriever,False,False,False,False,False,True,Tomah,WI
17,55657598,Baby,Female,Medium,Pit Bull Terrier,True,False,False,False,False,True,Alma,WI
18,55655641,Baby,Female,Large,Mixed Breed,False,False,True,False,False,True,De Pere,WI
19,55654463,Baby,Female,Medium,Pit Bull Terrier,True,False,False,False,False,True,Alma,WI
20,55651582,Baby,Female,Medium,Pit Bull Terrier,True,False,False,False,False,True,Alma,WI
21,55633895,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Onalaska,WI
22,55632198,Baby,Female,Medium,Beagle,True,False,True,False,False,True,Madison,WI
23,55632202,Baby,Female,Medium,Beagle,True,False,True,False,False,True,Madison,WI
24,55626280,Baby,Female,Small,Terrier,True,False,False,False,False,True,Tomah,WI
25,55616669,Baby,Female,Large,Shepherd,True,False,False,False,False,True,Green Bay,WI
26,55601789,Baby,Female,Small,German Shepherd Dog,True,False,True,False,False,False,Suamico,WI
27,55601787,Baby,Female,Small,German Shepherd Dog,True,False,True,False,False,False,Suamico,WI
28,55589954,Baby,Female,Medium,Plott Hound,True,False,False,False,False,False,Crandon,WI
29,55567074,Baby,Female,Medium,Shepherd,True,False,True,False,False,True,Edgar,WI
30,55537448,Baby,Female,Large,Mixed Breed,False,False,True,True,False,True,De Pere,WI
31,55537160,Baby,Female,Large,Mixed Breed,False,False,True,False,False,True,De Pere,WI
32,55535133,Baby,Female,Medium,Beagle,True,False,True,False,False,True,Madison,WI
33,55533391,Baby,Female,Small,Terrier,True,False,False,False,False,True,Tomah,WI
34,55531270,Baby,Female,Medium,Hound,True,False,False,False,False,False,New London,WI
35,55531273,Baby,Female,Medium,Hound,True,False,False,False,False,False,New London,WI
36,55530806,Baby,Female,Medium,Mixed Breed,True,False,False,False,False,True,Appleton,WI
37,55530675,Baby,Female,Large,Mixed Breed,True,False,False,False,False,True,Appleton,WI
38,55464248,Baby,Female,Medium,Husky,True,False,True,False,False,False,New London,WI
39,55459860,Baby,Female,Small,German Shepherd Dog,True,False,False,False,False,False,Suamico,WI
40,55398328,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Neillsville,WI
41,55388409,Baby,Female,Medium,Labrador Retriever,True,False,True,False,False,True,Madison,WI
42,55287312,Baby,Female,Large,Labrador Retriever,True,False,False,False,False,True,Menomonie,WI
43,55287324,Baby,Female,Large,Labrador Retriever,True,False,False,False,False,True,Menomonie,WI
44,55332458,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,Sun Prairie,WI
45,54765544,Baby,Female,Medium,German Shepherd Dog,True,False,True,False,False,False,Suamico,WI

In [199]:
# Create location column with City, State
testing_dogs['location'] = testing_dogs['city'] + ', ' + testing_dogs['state']
testing_dogs = testing_dogs.drop(['city', 'state'], axis=1)
testing_dogs.head()

C:\Users\m212193\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,age,gender,size,breeds_primary,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,location
0,55719417,Baby,Female,Large,Hound,True,False,True,True,False,True,"Onalaska, WI"
1,55707966,Baby,Female,Medium,Terrier,True,False,False,False,False,True,"Chippewa Falls, WI"
2,55707670,Baby,Female,Medium,Labrador Retriever,True,False,False,False,False,True,"Chippewa Falls, WI"
3,55695702,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,"Neillsville, WI"
4,55694968,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,"Neillsville, WI"

In [200]:
# Read dog adoptions DataFrame from PostgreSQL
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
populations_df = pd.read_sql("select * from \"populations\"", con=engine)
populations_df.head()

             city  population
0      Bantam, CT         727
1   Danielson, CT        4012
2     Fenwick, CT          45
3  Litchfield, CT        1205
4   Naugatuck, CT       31108

In [201]:
testing_dogs=testing_dogs.merge(populations_df, left_on='location', right_on='city')
testing_dogs = testing_dogs.drop(['city', 'location'], axis=1)
testing_dogs

,id,age,gender,size,breeds_primary,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,population
0,55719417,Baby,Female,Large,Hound,True,False,True,True,False,True,18943
1,55663425,Baby,Female,Large,Australian Cattle Dog / Blue Heeler,True,False,True,True,False,True,18943
2,55633895,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,18943
3,55707966,Baby,Female,Medium,Terrier,True,False,False,False,False,True,14366
4,55707670,Baby,Female,Medium,Labrador Retriever,True,False,False,False,False,True,14366
5,55695702,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,2409
6,55694968,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,2409
7,55694921,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,2409
8,55694898,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,2409
9,55694401,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,2409
10,55694395,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,2409
11,55398328,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,2409
12,55681043,Baby,Female,Medium,Terrier,True,False,False,False,False,True,14052
13,55678449,Baby,Female,Medium,Australian Shepherd,True,False,True,False,False,True,676
14,55664283,Baby,Female,Large,Husky,False,False,False,False,False,True,4402
15,55664281,Baby,Female,Large,Husky,False,False,False,False,False,True,4402
16,55664278,Baby,Female,Large,Anatolian Shepherd,True,False,False,False,False,True,4402
17,55663123,Baby,Female,Medium,German Shepherd Dog,False,False,False,False,False,False,13052
18,55601789,Baby,Female,Small,German Shepherd Dog,True,False,True,False,False,False,13052
19,55601787,Baby,Female,Small,German Shepherd Dog,True,False,True,False,False,False,13052
20,55459860,Baby,Female,Small,German Shepherd Dog,True,False,False,False,False,False,13052
21,54765544,Baby,Female,Medium,German Shepherd Dog,True,False,True,False,False,False,13052
22,55662357,Baby,Female,Small,Yellow Labrador Retriever,False,False,False,False,False,True,9397
23,55626280,Baby,Female,Small,Terrier,True,False,False,False,False,True,9397
24,55533391,Baby,Female,Small,Terrier,True,False,False,False,False,True,9397
25,55657598,Baby,Female,Medium,Pit Bull Terrier,True,False,False,False,False,True,719
26,55654463,Baby,Female,Medium,Pit Bull Terrier,True,False,False,False,False,True,719
27,55651582,Baby,Female,Medium,Pit Bull Terrier,True,False,False,False,False,True,719
28,55655641,Baby,Female,Large,Mixed Breed,False,False,True,False,False,True,24970
29,55537448,Baby,Female,Large,Mixed Breed,False,False,True,True,False,True,24970
30,55537160,Baby,Female,Large,Mixed Breed,False,False,True,False,False,True,24970
31,55632198,Baby,Female,Medium,Beagle,True,False,True,False,False,True,259680
32,55632202,Baby,Female,Medium,Beagle,True,False,True,False,False,True,259680
33,55535133,Baby,Female,Medium,Beagle,True,False,True,False,False,True,259680
34,55388409,Baby,Female,Medium,Labrador Retriever,True,False,True,False,False,True,259680
35,55616669,Baby,Female,Large,Shepherd,True,False,False,False,False,True,104578
36,55589954,Baby,Female,Medium,Plott Hound,True,False,False,False,False,False,1800
37,55567074,Baby,Female,Medium,Shepherd,True,False,True,False,False,True,1442
38,55531270,Baby,Female,Medium,Hound,True,False,False,False,False,False,7092
39,55531273,Baby,Female,Medium,Hound,True,False,False,False,False,False,7092
40,55464248,Baby,Female,Medium,Husky,True,False,True,False,False,False,7092
41,55530806,Baby,Female,Medium,Mixed Breed,True,False,False,False,False,True,74098
42,55530675,Baby,Female,Large,Mixed Breed,True,False,False,False,False,True,74098
43,55287312,Baby,Female,Large,Labrador Retriever,True,False,False,False,False,True,16551
44,55287324,Baby,Female,Large,Labrador Retriever,True,False,False,False,False,True,16551
45,55332458,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,34661

In [202]:
# Drop any rows with NaN values and confirm they have been dropped
testing_dogs=testing_dogs.dropna(how='any')
testing_dogs.isna().sum(axis=0)

id                 0
age                0
gender             0
size               0
breeds_primary     0
breeds_mixed       0
breeds_unknown     0
spayed_neutered    0
house_trained      0
special_needs      0
shots_current      0
population         0
dtype: int64

In [203]:
# Make copy of adoptions_df and encode boolean values
encoded_df = testing_dogs.copy()
testing_dogs[['breeds_mixed', 'breeds_unknown', 'spayed_neutered','house_trained', 'special_needs', 'shots_current']] = encoded_df[['breeds_mixed', 'breeds_unknown', 'spayed_neutered','house_trained', 'special_needs', 'shots_current']].astype(int)
encoded_df.head()

,id,age,gender,size,breeds_primary,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,population
0,55719417,Baby,Female,Large,Hound,True,False,True,True,False,True,18943
1,55663425,Baby,Female,Large,Australian Cattle Dog / Blue Heeler,True,False,True,True,False,True,18943
2,55633895,Baby,Female,Medium,Mixed Breed,True,False,True,False,False,True,18943
3,55707966,Baby,Female,Medium,Terrier,True,False,False,False,False,True,14366
4,55707670,Baby,Female,Medium,Labrador Retriever,True,False,False,False,False,True,14366

In [204]:
# Encode gender column
encoded_df['gender'] = encoded_df['gender'].replace(['Female', 'Male'], [0,1])
encoded_df.head()

,id,age,gender,size,breeds_primary,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,population
0,55719417,Baby,0,Large,Hound,True,False,True,True,False,True,18943
1,55663425,Baby,0,Large,Australian Cattle Dog / Blue Heeler,True,False,True,True,False,True,18943
2,55633895,Baby,0,Medium,Mixed Breed,True,False,True,False,False,True,18943
3,55707966,Baby,0,Medium,Terrier,True,False,False,False,False,True,14366
4,55707670,Baby,0,Medium,Labrador Retriever,True,False,False,False,False,True,14366

In [205]:
# Encode age and size columns

encoded_df = pd.get_dummies(encoded_df, columns=['age', 'size'])
encoded_df.head()

,id,gender,breeds_primary,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,population,age_Baby,size_Large,size_Medium,size_Small
0,55719417,0,Hound,True,False,True,True,False,True,18943,1,1,0,0
1,55663425,0,Australian Cattle Dog / Blue Heeler,True,False,True,True,False,True,18943,1,1,0,0
2,55633895,0,Mixed Breed,True,False,True,False,False,True,18943,1,0,1,0
3,55707966,0,Terrier,True,False,False,False,False,True,14366,1,0,1,0
4,55707670,0,Labrador Retriever,True,False,False,False,False,True,14366,1,0,1,0

In [206]:
encoded_df['breed_pitbull'] = np.where(encoded_df['breeds_primary'] == 'Pit Bull Terrier', 1, 0)
encoded_df = encoded_df.drop(columns=["breeds_primary"])
encoded_df.head()

,id,gender,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,population,age_Baby,size_Large,size_Medium,size_Small,breed_pitbull
0,55719417,0,True,False,True,True,False,True,18943,1,1,0,0,0
1,55663425,0,True,False,True,True,False,True,18943,1,1,0,0,0
2,55633895,0,True,False,True,False,False,True,18943,1,0,1,0,0
3,55707966,0,True,False,False,False,False,True,14366,1,0,1,0,0
4,55707670,0,True,False,False,False,False,True,14366,1,0,1,0,0

In [207]:
def bucketPopulation(row):
    if row['population'] > 0 and row['population'] <= 10000:
        return '0 to 10,000'
    elif row['population'] > 10000 and row['population'] <= 50000:
        return '10,000 to 50,000'
    elif row['population'] > 50000 and row['population'] <= 100000:
        return '50,000 to 100,000'
    return 'greater than 100,000'

In [208]:
encoded_df['bucketed_population'] = encoded_df.apply(lambda row: bucketPopulation(row), axis=1)
encoded_df.drop('population', axis=1, inplace=True)
encoded_df.head()

,id,gender,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,age_Baby,size_Large,size_Medium,size_Small,breed_pitbull,bucketed_population
0,55719417,0,True,False,True,True,False,True,1,1,0,0,0,"10,000 to 50,000"
1,55663425,0,True,False,True,True,False,True,1,1,0,0,0,"10,000 to 50,000"
2,55633895,0,True,False,True,False,False,True,1,0,1,0,0,"10,000 to 50,000"
3,55707966,0,True,False,False,False,False,True,1,0,1,0,0,"10,000 to 50,000"
4,55707670,0,True,False,False,False,False,True,1,0,1,0,0,"10,000 to 50,000"

In [209]:
# Encode age and size columns

encoded_df = pd.get_dummies(encoded_df, columns=['bucketed_population'])
encoded_df.head()

,id,gender,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,age_Baby,size_Large,size_Medium,size_Small,breed_pitbull,"bucketed_population_0 to 10,000","bucketed_population_10,000 to 50,000","bucketed_population_50,000 to 100,000","bucketed_population_greater than 100,000"
0,55719417,0,True,False,True,True,False,True,1,1,0,0,0,0,1,0,0
1,55663425,0,True,False,True,True,False,True,1,1,0,0,0,0,1,0,0
2,55633895,0,True,False,True,False,False,True,1,0,1,0,0,0,1,0,0
3,55707966,0,True,False,False,False,False,True,1,0,1,0,0,0,1,0,0
4,55707670,0,True,False,False,False,False,True,1,0,1,0,0,0,1,0,0

In [210]:
# Read dog adoptions DataFrame from PostgreSQL
db_string = f"postgresql://postgres:{my_password}@127.0.0.1:5432/PetFindingDB"
engine = create_engine(db_string)
standard_format = pd.read_sql("select * from \"standard_format\"", con=engine)
standard_format.head()

,index,gender,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,duration,age_Adult,...,age_Young,size_Extra Large,size_Large,size_Medium,size_Small,breed_pitbull,"bucketed_population_0 to 10,000","bucketed_population_10,000 to 50,000","bucketed_population_50,000 to 100,000","bucketed_population_greater than 100,000"
0,0,1,1,0,0,1,0,1,0,0,...,1,0,0,1,0,0,1,0,0,0
1,1,0,1,0,0,1,0,1,1,0,...,0,0,1,0,0,0,1,0,0,0
2,2,0,1,0,0,0,0,1,1,0,...,1,0,0,1,0,0,1,0,0,0
3,3,0,1,0,0,1,0,1,1,1,...,0,0,1,0,0,0,1,0,0,0
4,4,0,1,0,0,1,0,1,1,1,...,0,0,0,1,0,0,1,0,0,0

In [211]:
# Merge current dogs for adoption with the test data to get the same number of columns for model
encoded_df = pd.DataFrame.merge(encoded_df, standard_format, how='outer')
encoded_df

,id,gender,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,age_Baby,size_Large,...,"bucketed_population_0 to 10,000","bucketed_population_10,000 to 50,000","bucketed_population_50,000 to 100,000","bucketed_population_greater than 100,000",index,duration,age_Adult,age_Senior,age_Young,size_Extra Large
0,55719417.0,0,True,False,True,True,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,55663425.0,0,True,False,True,True,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,55633895.0,0,True,False,True,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,55332458.0,0,True,False,True,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,55707966.0,0,True,False,False,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,55707670.0,0,True,False,False,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,55681043.0,0,True,False,False,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,55695702.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,55694968.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,55694921.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,55694898.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11,55694401.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12,55694395.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13,55398328.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14,55678449.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,55567074.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,55664283.0,0,False,False,False,False,False,True,1,1,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17,55664281.0,0,False,False,False,False,False,True,1,1,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,55664278.0,0,True,False,False,False,False,True,1,1,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,55663123.0,0,False,False,False,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,55601789.0,0,True,False,True,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,55601787.0,0,True,False,True,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
22,55459860.0,0,True,False,False,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
23,54765544.0,0,True,False,True,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
24,55662357.0,0,False,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
25,55626280.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
26,55533391.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
27,55657598.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
28,55654463.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
29,55651582.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
30,55655641.0,0,False,False,True,False,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
31,55537160.0,0,False,False,True,False,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
32,55537448.0,0,False,False,True,True,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
33,55632198.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
34,55632202.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
35,55535133.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
36,55388409.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
37,55616669.0,0,True,False,False,False,False,True,1,1,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
38,55589954.0,0,True,False,False,False,False,False,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
39,55531270.0,0,True,False,False,False,False,False,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
40,55531273.0,0,True,False,False,False,False,False,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
41,55464248.0,0,True,False,True,False,False,False,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
42,55530806.0,0,True,False,False,False,False,True,1,0,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
43,55530675.0,0,True,False,False,False,False,True,1,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
44,55287312.0,0,True,False,False,False,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
45,55287324.0,0,True,False,False,False,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,1,1,0,0,1,0,1,0,0,...,1,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
47,NaN,0,1,0,0,1,0,1,1,1,...,1,0,0,0,1.0,1.0,0.0,0.0,0.0,0.0
48,NaN,0,1,0,0,0,0,1,0,0,...,1,0,0,0,2.0,1.0,0.0,0.0,1.0,0.0
49,NaN,0,1,0,0,1,0,1,0,1,...,1,0,0,0,3.0,1.0,1.0,0.0,0.0,0.0
50,NaN,0,1,0,0,1,0,1,0,0,...,1,0,0,0,4.0,1.0,1.0,0.0,0.0,0.0

In [212]:
# Drop the test data
encoded_df = encoded_df[encoded_df['id'].notna()]
encoded_df

,id,gender,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,age_Baby,size_Large,...,"bucketed_population_0 to 10,000","bucketed_population_10,000 to 50,000","bucketed_population_50,000 to 100,000","bucketed_population_greater than 100,000",index,duration,age_Adult,age_Senior,age_Young,size_Extra Large
0,55719417.0,0,True,False,True,True,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,55663425.0,0,True,False,True,True,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,55633895.0,0,True,False,True,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,55332458.0,0,True,False,True,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,55707966.0,0,True,False,False,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,55707670.0,0,True,False,False,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,55681043.0,0,True,False,False,False,False,True,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,55695702.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,55694968.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,55694921.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,55694898.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11,55694401.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12,55694395.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13,55398328.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14,55678449.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,55567074.0,0,True,False,True,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,55664283.0,0,False,False,False,False,False,True,1,1,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17,55664281.0,0,False,False,False,False,False,True,1,1,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,55664278.0,0,True,False,False,False,False,True,1,1,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,55663123.0,0,False,False,False,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,55601789.0,0,True,False,True,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,55601787.0,0,True,False,True,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
22,55459860.0,0,True,False,False,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
23,54765544.0,0,True,False,True,False,False,False,1,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
24,55662357.0,0,False,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
25,55626280.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
26,55533391.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
27,55657598.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
28,55654463.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
29,55651582.0,0,True,False,False,False,False,True,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
30,55655641.0,0,False,False,True,False,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
31,55537160.0,0,False,False,True,False,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
32,55537448.0,0,False,False,True,True,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
33,55632198.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
34,55632202.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
35,55535133.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
36,55388409.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
37,55616669.0,0,True,False,False,False,False,True,1,1,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
38,55589954.0,0,True,False,False,False,False,False,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
39,55531270.0,0,True,False,False,False,False,False,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
40,55531273.0,0,True,False,False,False,False,False,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
41,55464248.0,0,True,False,True,False,False,False,1,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
42,55530806.0,0,True,False,False,False,False,True,1,0,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
43,55530675.0,0,True,False,False,False,False,True,1,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
44,55287312.0,0,True,False,False,False,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
45,55287324.0,0,True,False,False,False,False,True,1,1,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
encoded_df = encoded_df.fillna(0)
encoded_df = encoded_df.drop(['index', 'duration'], axis=1)
encoded_df

,id,gender,breeds_mixed,breeds_unknown,spayed_neutered,house_trained,special_needs,shots_current,age_Baby,size_Large,...,size_Small,breed_pitbull,"bucketed_population_0 to 10,000","bucketed_population_10,000 to 50,000","bucketed_population_50,000 to 100,000","bucketed_population_greater than 100,000",age_Adult,age_Senior,age_Young,size_Extra Large
0,55719417.0,0,True,False,True,True,False,True,1,1,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
1,55663425.0,0,True,False,True,True,False,True,1,1,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
2,55633895.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
3,55332458.0,0,True,False,True,False,False,True,1,0,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
4,55707966.0,0,True,False,False,False,False,True,1,0,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
5,55707670.0,0,True,False,False,False,False,True,1,0,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
6,55681043.0,0,True,False,False,False,False,True,1,0,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
7,55695702.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
8,55694968.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
9,55694921.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
10,55694898.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
11,55694401.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
12,55694395.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
13,55398328.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
14,55678449.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
15,55567074.0,0,True,False,True,False,False,True,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
16,55664283.0,0,False,False,False,False,False,True,1,1,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
17,55664281.0,0,False,False,False,False,False,True,1,1,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
18,55664278.0,0,True,False,False,False,False,True,1,1,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
19,55663123.0,0,False,False,False,False,False,False,1,0,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
20,55601789.0,0,True,False,True,False,False,False,1,0,...,1,0,0,1,0,0,0.0,0.0,0.0,0.0
21,55601787.0,0,True,False,True,False,False,False,1,0,...,1,0,0,1,0,0,0.0,0.0,0.0,0.0
22,55459860.0,0,True,False,False,False,False,False,1,0,...,1,0,0,1,0,0,0.0,0.0,0.0,0.0
23,54765544.0,0,True,False,True,False,False,False,1,0,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
24,55662357.0,0,False,False,False,False,False,True,1,0,...,1,0,1,0,0,0,0.0,0.0,0.0,0.0
25,55626280.0,0,True,False,False,False,False,True,1,0,...,1,0,1,0,0,0,0.0,0.0,0.0,0.0
26,55533391.0,0,True,False,False,False,False,True,1,0,...,1,0,1,0,0,0,0.0,0.0,0.0,0.0
27,55657598.0,0,True,False,False,False,False,True,1,0,...,0,1,1,0,0,0,0.0,0.0,0.0,0.0
28,55654463.0,0,True,False,False,False,False,True,1,0,...,0,1,1,0,0,0,0.0,0.0,0.0,0.0
29,55651582.0,0,True,False,False,False,False,True,1,0,...,0,1,1,0,0,0,0.0,0.0,0.0,0.0
30,55655641.0,0,False,False,True,False,False,True,1,1,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
31,55537160.0,0,False,False,True,False,False,True,1,1,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
32,55537448.0,0,False,False,True,True,False,True,1,1,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
33,55632198.0,0,True,False,True,False,False,True,1,0,...,0,0,0,0,0,1,0.0,0.0,0.0,0.0
34,55632202.0,0,True,False,True,False,False,True,1,0,...,0,0,0,0,0,1,0.0,0.0,0.0,0.0
35,55535133.0,0,True,False,True,False,False,True,1,0,...,0,0,0,0,0,1,0.0,0.0,0.0,0.0
36,55388409.0,0,True,False,True,False,False,True,1,0,...,0,0,0,0,0,1,0.0,0.0,0.0,0.0
37,55616669.0,0,True,False,False,False,False,True,1,1,...,0,0,0,0,0,1,0.0,0.0,0.0,0.0
38,55589954.0,0,True,False,False,False,False,False,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
39,55531270.0,0,True,False,False,False,False,False,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
40,55531273.0,0,True,False,False,False,False,False,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
41,55464248.0,0,True,False,True,False,False,False,1,0,...,0,0,1,0,0,0,0.0,0.0,0.0,0.0
42,55530806.0,0,True,False,False,False,False,True,1,0,...,0,0,0,0,1,0,0.0,0.0,0.0,0.0
43,55530675.0,0,True,False,False,False,False,True,1,1,...,0,0,0,0,1,0,0.0,0.0,0.0,0.0
44,55287312.0,0,True,False,False,False,False,True,1,1,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0
45,55287324.0,0,True,False,False,False,False,True,1,1,...,0,0,0,1,0,0,0.0,0.0,0.0,0.0

In [214]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

In [215]:
# Create features
X_test = encoded_df.drop(columns='id')
dog_ids = encoded_df['id']
X_scaler = scaler.fit(X_test)
X_test_scaled = X_scaler.transform(X_test)

In [216]:
#Load model
loaded_model = pickle.load(open('finalized_model.sav', 'rb'))

In [217]:
# Making predictions using the testing data.
predictions = loaded_model.predict(X_test_scaled)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [218]:
predictions_df = pd.DataFrame.from_dict(dog_ids)
predictions_df['duration'] = predictions
predictions_df

            id  duration
0   55719417.0         0
1   55663425.0         0
2   55633895.0         0
3   55332458.0         0
4   55707966.0         0
5   55707670.0         0
6   55681043.0         0
7   55695702.0         0
8   55694968.0         0
9   55694921.0         0
10  55694898.0         0
11  55694401.0         0
12  55694395.0         0
13  55398328.0         0
14  55678449.0         0
15  55567074.0         0
16  55664283.0         1
17  55664281.0         1
18  55664278.0         0
19  55663123.0         0
20  55601789.0         0
21  55601787.0         0
22  55459860.0         0
23  54765544.0         0
24  55662357.0         0
25  55626280.0         0
26  55533391.0         0
27  55657598.0         0
28  55654463.0         0
29  55651582.0         0
30  55655641.0         0
31  55537160.0         0
32  55537448.0         0
33  55632198.0         0
34  55632202.0         0
35  55535133.0         0
36  55388409.0         0
37  55616669.0         0
38  55589954.0         0
39  55531270.0         0
40  55531273.0         0
41  55464248.0         0
42  55530806.0         0
43  55530675.0         0
44  55287312.0         0
45  55287324.0         0

In [219]:
predictions_df['duration'].value_counts()

0    44
1     2
Name: duration, dtype: int64

In [220]:
# Merge current dogs for adoption with the test data to get the same number of columns for model
viz_df = pd.DataFrame.merge(adoptable_dogs, predictions_df, how='left')
viz_df

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,address_1,address_2,city,state,postcode,country,animal_id,animal_type,organization_id,duration
0,55719417,WI04,https://www.petfinder.com/dog/lola-55719417/wi...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Affectionate, Playful, Smart, Curio...",...,911 Critter Court,None,Onalaska,WI,54603,US,55719417,dog,wi04,0
1,55707966,WI07,https://www.petfinder.com/dog/bagel-55707966/w...,Dog,Dog,Baby,Female,Medium,None,[],...,10501 Cty Hwy S South,PO Box 562,Chippewa Falls,WI,54729,US,55707966,dog,wi07,0
2,55707670,WI07,https://www.petfinder.com/dog/vega-55707670/wi...,Dog,Dog,Baby,Female,Medium,None,[],...,10501 Cty Hwy S South,PO Box 562,Chippewa Falls,WI,54729,US,55707670,dog,wi07,0
3,55695702,WI34,https://www.petfinder.com/dog/ina-55695702/wi/...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55695702,dog,wi34,0
4,55694968,WI34,https://www.petfinder.com/dog/alex-55694968/wi...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694968,dog,wi34,0
5,55694921,WI34,https://www.petfinder.com/dog/giada-55694921/w...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694921,dog,wi34,0
6,55694898,WI34,https://www.petfinder.com/dog/adrian-55694898/...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694898,dog,wi34,0
7,55694401,WI34,https://www.petfinder.com/dog/daphne-55694401/...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694401,dog,wi34,0
8,55694395,WI34,https://www.petfinder.com/dog/delia-55694395/w...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694395,dog,wi34,0
9,55681043,WI491,https://www.petfinder.com/dog/tully-55681043/w...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,Waunakee,WI,53597,US,55681043,dog,wi491,0
10,55678449,WI495,https://www.petfinder.com/dog/fridaie-55678449...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,Rockland,WI,54653,US,55678449,dog,wi495,0
11,55664283,WI86,https://www.petfinder.com/dog/tempo-55664283/w...,Dog,Dog,Baby,Female,Large,None,[],...,1150 Nelson Parkway,None,Viroqua,WI,54665,US,55664283,dog,wi86,1
12,55664281,WI86,https://www.petfinder.com/dog/serenade-5566428...,Dog,Dog,Baby,Female,Large,None,[],...,1150 Nelson Parkway,None,Viroqua,WI,54665,US,55664281,dog,wi86,1
13,55664278,WI86,https://www.petfinder.com/dog/maple-55664278/w...,Dog,Dog,Baby,Female,Large,None,[],...,1150 Nelson Parkway,None,Viroqua,WI,54665,US,55664278,dog,wi86,0
14,55663425,WI510,https://www.petfinder.com/dog/petra-55663425/w...,Dog,Dog,Baby,Female,Large,Medium,"[Friendly, Affectionate, Playful, Funny]",...,None,None,Onalaska,WI,54650,US,55663425,dog,wi510,0
15,55663123,WI70,https://www.petfinder.com/dog/saavy-55663123/w...,Dog,Dog,Baby,Female,Medium,None,[],...,PO Box 376,None,Suamico,WI,54173,US,55663123,dog,wi70,0
16,55662357,WI439,https://www.petfinder.com/dog/rikki-55662357/w...,Dog,Dog,Baby,Female,Small,None,[],...,None,None,Tomah,WI,54660,US,55662357,dog,wi439,0
17,55657598,WI523,https://www.petfinder.com/dog/jazzy-55657598/w...,Dog,Dog,Baby,Female,Medium,Short,"[Affectionate, Friendly, Protective, Smart, Br...",...,None,None,Alma,WI,54610,US,55657598,dog,wi523,0
18,55655641,WI493,https://www.petfinder.com/dog/plum-55655641/wi...,Dog,Dog,Baby,Female,Large,Short,"[Playful, Smart, Curious, Funny, Athletic, Lov...",...,None,None,De Pere,WI,54115,US,55655641,dog,wi493,0
19,55654463,WI523,https://www.petfinder.com/dog/jules-55654463/w...,Dog,Dog,Baby,Female,Medium,Short,"[Affectionate, Friendly, Protective, Smart, Br...",...,None,None,Alma,WI,54610,US,55654463,dog,wi523,0
20,55651582,WI523,https://www.petfinder.com/dog/june-55651582/wi...,Dog,Dog,Baby,Female,Medium,Short,"[Friendly, Affectionate, Playful, Smart, Curio...",...,None,None,Alma,WI,54610,US,55651582,dog,wi523,0
21,55633895,WI510,https://www.petfinder.com/dog/cinnamon-5563389...,Dog,Dog,Baby,Female,Medium,Short,"[Playful, Funny]",...,None,None,Onalaska,WI,54650,US,55633895,dog,wi510,0
22,55632198,WI209,https://www.petfinder.com/dog/chocolate-556321...,Dog,Dog,Baby,Female,Medium,None,[Available Soon],...,None,None,Madison,WI,53704,US,55632198,dog,wi209,0
23,55632202,WI209,https://www.petfinder.com/dog/caramel-55632202...,Dog,Dog,Baby,Female,Medium,None,[Available Soon],...,None,None,Madison,WI,53704,US,55632202,dog,wi209,0
24,55626280,WI439,https://www.petfinder.com/dog/phoenix-55626280...,Dog,Dog,Baby,Female,Small,None,[],...,None,None,Tomah,WI,54660,US,55626280,dog,wi439,0
25,55616669,WI518,https://www.petfinder.com/dog/arya-55616669/wi...,Dog,Dog,Baby,Female,Large,Medium,"[Friendly, Affectionate, Loyal, Playful, Smart...",...,None,None,Green Bay,WI,54313,US,55616669,dog,wi518,0
26,55601789,WI70,https://www.petfinder.com/dog/wind-chime-55601...,Dog,Dog,Baby,Female,Small,None,[],...,PO Box 376,None,Suamico,WI,54173,US,55601789,dog,wi70,0
27,55601787,WI70,https://www.petfinder.com/dog/kaleidoscope-556...,Dog,Dog,Baby,Female,Small,None,[],...,PO Box 376,None,Suamico,WI,54173,US,55601787,dog,wi70,0
28,55589954,WI62,https://www.petfinder.com/dog/maggy-55589954/w...,Dog,Dog,Baby,Female,Medium,None,[],...,701 Industrial Parkway,P.O. Box 57,Crandon,WI,54520,US,55589954,dog,wi62,0
29,55567074,WI528,https://www.petfinder.com/dog/bonnie-55567074/...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,Edgar,WI,54426,US,55567074,dog,wi528,0
30,55537448,WI493,https://www.petfinder.com/dog/shannon-55537448...,Dog,Dog,Baby,Female,Large,Short,"[Playful, Smart, Protective, Funny, Athletic, ...",...,None,None,De Pere,WI,54115,US,55537448,dog,wi493,0
31,55537160,WI493,https://www.petfinder.com/dog/baby-ruth-555371...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Affectionate, Playful, Smart, Funny...",...,None,None,De Pere,WI,54115,US,55537160,dog,wi493,0
32,55535133,WI209,https://www.petfinder.com/dog/s-and-number-39m...,Dog,Dog,Baby,Female,Medium,None,[Shy],...,None,None,Madison,WI,53704,US,55535133,dog,wi209,0
33,55533391,WI439,https://www.petfinder.com/dog/elaine-55533391/...,Dog,Dog,Baby,Female,Small,None,[],...,None,None,Tomah,WI,54660,US,55533391,dog,wi439,0
34,55531270,WI533,https://www.petfinder.com/dog/rayna-55531270/w...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,New London,WI,54961,US,55531270,dog,wi533,0
35,55531273,WI533,https://www.petfinder.com/dog/ruby-55531273/wi...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,New London,WI,54961,US,55531273,dog,wi533,0
36,55530806,WI264,https://www.petfinder.com/dog/traveler-5553080...,Dog,Dog,Baby,Female,Medium,Short,[],...,N3141 Meade St,None,Appleton,WI,54913,US,55530806,dog,wi264,0
37,55530675,WI264,https://www.petfinder.com/dog/joli-55530675/wi...,Dog,Dog,Baby,Female,Large,Short,[],...,N3141 Meade St,None,Appleton,WI,54913,US,55530675,dog,wi264,0
38,55464248,WI533,https://www.petfinder.com/dog/hannah-55464248/...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,New London,WI,54961,US,55464248,dog,wi533,0
39,55459860,WI70,https://www.petfinder.com/dog/betsy-55459860/w...,Dog,Dog,Baby,Female,Small,None,[],...,PO Box 376,None,Suamico,WI,54173,US,55459860,dog,wi70,0
40,55398328,WI34,https://www.petfinder.com/dog/chablis-55398328...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55398328,dog,wi34,0
41,55388409,WI209,https://www.petfinder.com/dog/glimmer-55388409...,Dog,Dog,Baby,Female,Medium,None,"[Good w Cats, Good w Dogs, Good w Kids]",...,None,None,Madison,WI,53704,US,55388409,dog,wi209,0
42,55287312,WI558,https://www.petfinder.com/dog/opal-55287312/wi...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Smart, Athletic, Playful]",...,None,None,Menomonie,WI,54751,US,55287312,dog,wi558,0
43,55287324,WI558,https://www.petfinder.com/dog/saphire-55287324...,Dog,Dog,Baby,Female,Large,None,"[Playful, Affectionate, Friendly, Smart, Curious]",...,None,None,Menomonie,WI,54751,US,55287324,dog,wi558,0
44,55332458,WI256,https://www.petfinder.com/dog/casey-f-55332458...,Dog,Dog,Baby,Female,Medium,None,"[Friendly, Affectionate]",...,None,None,Sun Prairie,WI,53590,US,55332458,dog,wi256,0
45,54765544,WI70,https://www.petfinder.com/dog/melody-54765544/...,Dog,Dog,Baby,Female,Medium,None,[],...,PO Box 376,None,Suamico,WI,54173,US,54765544,dog,wi70,0

In [221]:
cold_dogs=viz_df = viz_df.loc[viz_df['duration'] == 0]
cold_dogs

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,address_1,address_2,city,state,postcode,country,animal_id,animal_type,organization_id,duration
0,55719417,WI04,https://www.petfinder.com/dog/lola-55719417/wi...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Affectionate, Playful, Smart, Curio...",...,911 Critter Court,None,Onalaska,WI,54603,US,55719417,dog,wi04,0
1,55707966,WI07,https://www.petfinder.com/dog/bagel-55707966/w...,Dog,Dog,Baby,Female,Medium,None,[],...,10501 Cty Hwy S South,PO Box 562,Chippewa Falls,WI,54729,US,55707966,dog,wi07,0
2,55707670,WI07,https://www.petfinder.com/dog/vega-55707670/wi...,Dog,Dog,Baby,Female,Medium,None,[],...,10501 Cty Hwy S South,PO Box 562,Chippewa Falls,WI,54729,US,55707670,dog,wi07,0
3,55695702,WI34,https://www.petfinder.com/dog/ina-55695702/wi/...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55695702,dog,wi34,0
4,55694968,WI34,https://www.petfinder.com/dog/alex-55694968/wi...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694968,dog,wi34,0
5,55694921,WI34,https://www.petfinder.com/dog/giada-55694921/w...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694921,dog,wi34,0
6,55694898,WI34,https://www.petfinder.com/dog/adrian-55694898/...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694898,dog,wi34,0
7,55694401,WI34,https://www.petfinder.com/dog/daphne-55694401/...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694401,dog,wi34,0
8,55694395,WI34,https://www.petfinder.com/dog/delia-55694395/w...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55694395,dog,wi34,0
9,55681043,WI491,https://www.petfinder.com/dog/tully-55681043/w...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,Waunakee,WI,53597,US,55681043,dog,wi491,0
10,55678449,WI495,https://www.petfinder.com/dog/fridaie-55678449...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,Rockland,WI,54653,US,55678449,dog,wi495,0
13,55664278,WI86,https://www.petfinder.com/dog/maple-55664278/w...,Dog,Dog,Baby,Female,Large,None,[],...,1150 Nelson Parkway,None,Viroqua,WI,54665,US,55664278,dog,wi86,0
14,55663425,WI510,https://www.petfinder.com/dog/petra-55663425/w...,Dog,Dog,Baby,Female,Large,Medium,"[Friendly, Affectionate, Playful, Funny]",...,None,None,Onalaska,WI,54650,US,55663425,dog,wi510,0
15,55663123,WI70,https://www.petfinder.com/dog/saavy-55663123/w...,Dog,Dog,Baby,Female,Medium,None,[],...,PO Box 376,None,Suamico,WI,54173,US,55663123,dog,wi70,0
16,55662357,WI439,https://www.petfinder.com/dog/rikki-55662357/w...,Dog,Dog,Baby,Female,Small,None,[],...,None,None,Tomah,WI,54660,US,55662357,dog,wi439,0
17,55657598,WI523,https://www.petfinder.com/dog/jazzy-55657598/w...,Dog,Dog,Baby,Female,Medium,Short,"[Affectionate, Friendly, Protective, Smart, Br...",...,None,None,Alma,WI,54610,US,55657598,dog,wi523,0
18,55655641,WI493,https://www.petfinder.com/dog/plum-55655641/wi...,Dog,Dog,Baby,Female,Large,Short,"[Playful, Smart, Curious, Funny, Athletic, Lov...",...,None,None,De Pere,WI,54115,US,55655641,dog,wi493,0
19,55654463,WI523,https://www.petfinder.com/dog/jules-55654463/w...,Dog,Dog,Baby,Female,Medium,Short,"[Affectionate, Friendly, Protective, Smart, Br...",...,None,None,Alma,WI,54610,US,55654463,dog,wi523,0
20,55651582,WI523,https://www.petfinder.com/dog/june-55651582/wi...,Dog,Dog,Baby,Female,Medium,Short,"[Friendly, Affectionate, Playful, Smart, Curio...",...,None,None,Alma,WI,54610,US,55651582,dog,wi523,0
21,55633895,WI510,https://www.petfinder.com/dog/cinnamon-5563389...,Dog,Dog,Baby,Female,Medium,Short,"[Playful, Funny]",...,None,None,Onalaska,WI,54650,US,55633895,dog,wi510,0
22,55632198,WI209,https://www.petfinder.com/dog/chocolate-556321...,Dog,Dog,Baby,Female,Medium,None,[Available Soon],...,None,None,Madison,WI,53704,US,55632198,dog,wi209,0
23,55632202,WI209,https://www.petfinder.com/dog/caramel-55632202...,Dog,Dog,Baby,Female,Medium,None,[Available Soon],...,None,None,Madison,WI,53704,US,55632202,dog,wi209,0
24,55626280,WI439,https://www.petfinder.com/dog/phoenix-55626280...,Dog,Dog,Baby,Female,Small,None,[],...,None,None,Tomah,WI,54660,US,55626280,dog,wi439,0
25,55616669,WI518,https://www.petfinder.com/dog/arya-55616669/wi...,Dog,Dog,Baby,Female,Large,Medium,"[Friendly, Affectionate, Loyal, Playful, Smart...",...,None,None,Green Bay,WI,54313,US,55616669,dog,wi518,0
26,55601789,WI70,https://www.petfinder.com/dog/wind-chime-55601...,Dog,Dog,Baby,Female,Small,None,[],...,PO Box 376,None,Suamico,WI,54173,US,55601789,dog,wi70,0
27,55601787,WI70,https://www.petfinder.com/dog/kaleidoscope-556...,Dog,Dog,Baby,Female,Small,None,[],...,PO Box 376,None,Suamico,WI,54173,US,55601787,dog,wi70,0
28,55589954,WI62,https://www.petfinder.com/dog/maggy-55589954/w...,Dog,Dog,Baby,Female,Medium,None,[],...,701 Industrial Parkway,P.O. Box 57,Crandon,WI,54520,US,55589954,dog,wi62,0
29,55567074,WI528,https://www.petfinder.com/dog/bonnie-55567074/...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,Edgar,WI,54426,US,55567074,dog,wi528,0
30,55537448,WI493,https://www.petfinder.com/dog/shannon-55537448...,Dog,Dog,Baby,Female,Large,Short,"[Playful, Smart, Protective, Funny, Athletic, ...",...,None,None,De Pere,WI,54115,US,55537448,dog,wi493,0
31,55537160,WI493,https://www.petfinder.com/dog/baby-ruth-555371...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Affectionate, Playful, Smart, Funny...",...,None,None,De Pere,WI,54115,US,55537160,dog,wi493,0
32,55535133,WI209,https://www.petfinder.com/dog/s-and-number-39m...,Dog,Dog,Baby,Female,Medium,None,[Shy],...,None,None,Madison,WI,53704,US,55535133,dog,wi209,0
33,55533391,WI439,https://www.petfinder.com/dog/elaine-55533391/...,Dog,Dog,Baby,Female,Small,None,[],...,None,None,Tomah,WI,54660,US,55533391,dog,wi439,0
34,55531270,WI533,https://www.petfinder.com/dog/rayna-55531270/w...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,New London,WI,54961,US,55531270,dog,wi533,0
35,55531273,WI533,https://www.petfinder.com/dog/ruby-55531273/wi...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,New London,WI,54961,US,55531273,dog,wi533,0
36,55530806,WI264,https://www.petfinder.com/dog/traveler-5553080...,Dog,Dog,Baby,Female,Medium,Short,[],...,N3141 Meade St,None,Appleton,WI,54913,US,55530806,dog,wi264,0
37,55530675,WI264,https://www.petfinder.com/dog/joli-55530675/wi...,Dog,Dog,Baby,Female,Large,Short,[],...,N3141 Meade St,None,Appleton,WI,54913,US,55530675,dog,wi264,0
38,55464248,WI533,https://www.petfinder.com/dog/hannah-55464248/...,Dog,Dog,Baby,Female,Medium,None,[],...,None,None,New London,WI,54961,US,55464248,dog,wi533,0
39,55459860,WI70,https://www.petfinder.com/dog/betsy-55459860/w...,Dog,Dog,Baby,Female,Small,None,[],...,PO Box 376,None,Suamico,WI,54173,US,55459860,dog,wi70,0
40,55398328,WI34,https://www.petfinder.com/dog/chablis-55398328...,Dog,Dog,Baby,Female,Medium,Short,[],...,W3926 State Highway 73,P.O. Box 127,Neillsville,WI,54456,US,55398328,dog,wi34,0
41,55388409,WI209,https://www.petfinder.com/dog/glimmer-55388409...,Dog,Dog,Baby,Female,Medium,None,"[Good w Cats, Good w Dogs, Good w Kids]",...,None,None,Madison,WI,53704,US,55388409,dog,wi209,0
42,55287312,WI558,https://www.petfinder.com/dog/opal-55287312/wi...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Smart, Athletic, Playful]",...,None,None,Menomonie,WI,54751,US,55287312,dog,wi558,0
43,55287324,WI558,https://www.petfinder.com/dog/saphire-55287324...,Dog,Dog,Baby,Female,Large,None,"[Playful, Affectionate, Friendly, Smart, Curious]",...,None,None,Menomonie,WI,54751,US,55287324,dog,wi558,0
44,55332458,WI256,https://www.petfinder.com/dog/casey-f-55332458...,Dog,Dog,Baby,Female,Medium,None,"[Friendly, Affectionate]",...,None,None,Sun Prairie,WI,53590,US,55332458,dog,wi256,0
45,54765544,WI70,https://www.petfinder.com/dog/melody-54765544/...,Dog,Dog,Baby,Female,Medium,None,[],...,PO Box 376,None,Suamico,WI,54173,US,54765544,dog,wi70,0

In [222]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='http')

In [223]:
cold_dogs['location'] = viz_df['city'] + ', ' + viz_df['state']
cold_dogs = cold_dogs.drop(['city', 'state'], axis=1)
cold_dogs.head()

C:\Users\m212193\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,phone,address_1,address_2,postcode,country,animal_id,animal_type,organization_id,duration,location
0,55719417,WI04,https://www.petfinder.com/dog/lola-55719417/wi...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Affectionate, Playful, Smart, Curio...",...,608.781.4014,911 Critter Court,None,54603,US,55719417,dog,wi04,0,"Onalaska, WI"
1,55707966,WI07,https://www.petfinder.com/dog/bagel-55707966/w...,Dog,Dog,Baby,Female,Medium,None,[],...,(715) 861-5748,10501 Cty Hwy S South,PO Box 562,54729,US,55707966,dog,wi07,0,"Chippewa Falls, WI"
2,55707670,WI07,https://www.petfinder.com/dog/vega-55707670/wi...,Dog,Dog,Baby,Female,Medium,None,[],...,(715) 861-5748,10501 Cty Hwy S South,PO Box 562,54729,US,55707670,dog,wi07,0,"Chippewa Falls, WI"
3,55695702,WI34,https://www.petfinder.com/dog/ina-55695702/wi/...,Dog,Dog,Baby,Female,Medium,Short,[],...,(715) 743-4550,W3926 State Highway 73,P.O. Box 127,54456,US,55695702,dog,wi34,0,"Neillsville, WI"
4,55694968,WI34,https://www.petfinder.com/dog/alex-55694968/wi...,Dog,Dog,Baby,Female,Medium,Short,[],...,(715) 743-4550,W3926 State Highway 73,P.O. Box 127,54456,US,55694968,dog,wi34,0,"Neillsville, WI"

In [224]:
cold_dogs[['lat', 'lon']] = cold_dogs['location'].apply(geolocator.geocode).apply(lambda x: pd.Series([x.latitude, x.longitude], index=['lat', 'lon']))
cold_dogs.head()

C:\Users\m212193\Anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,address_2,postcode,country,animal_id,animal_type,organization_id,duration,location,lat,lon
0,55719417,WI04,https://www.petfinder.com/dog/lola-55719417/wi...,Dog,Dog,Baby,Female,Large,Short,"[Friendly, Affectionate, Playful, Smart, Curio...",...,None,54603,US,55719417,dog,wi04,0,"Onalaska, WI",43.883061,-91.234354
1,55707966,WI07,https://www.petfinder.com/dog/bagel-55707966/w...,Dog,Dog,Baby,Female,Medium,None,[],...,PO Box 562,54729,US,55707966,dog,wi07,0,"Chippewa Falls, WI",44.936905,-91.392935
2,55707670,WI07,https://www.petfinder.com/dog/vega-55707670/wi...,Dog,Dog,Baby,Female,Medium,None,[],...,PO Box 562,54729,US,55707670,dog,wi07,0,"Chippewa Falls, WI",44.936905,-91.392935
3,55695702,WI34,https://www.petfinder.com/dog/ina-55695702/wi/...,Dog,Dog,Baby,Female,Medium,Short,[],...,P.O. Box 127,54456,US,55695702,dog,wi34,0,"Neillsville, WI",44.560183,-90.595734
4,55694968,WI34,https://www.petfinder.com/dog/alex-55694968/wi...,Dog,Dog,Baby,Female,Medium,Short,[],...,P.O. Box 127,54456,US,55694968,dog,wi34,0,"Neillsville, WI",44.560183,-90.595734

In [228]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key='AIzaSyC_HDlYi6NEah11KtUC6ff94ypH0RSKyds')

In [229]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>Age</dt><dd>{age}</dd>
<dt>URL</dt><dd>{url}</dd>
<dt>Location</dt><dd>{location}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
dog_info = [info_box_template.format(**row) for index, row in cold_dogs.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = cold_dogs[["lat", "lon"]]

In [230]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=dog_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))